<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Movimentar atendimento</h4>
        <p class="card-category">Preencha os campos solicitados...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Setor/Leito</mat-label>
                        <mat-select [formControl]="sectorControl" (selectionChange)="loadAccommodations($event)"
                            required>
                            <mat-option>
                                Selecione um setor ou leito
                            </mat-option>
                            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                                {{sector.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>
                            {{accommodations && accommodations.length > 0 ? 'Selecione uma acomodação' : 'Não há
                            acomodação habilitada'}}
                        </mat-label>
                        <mat-select [formControl]="accommodationControl"
                            (selectionChange)="selectAccommodation($event.value)" required
                            [disabled]="!accommodations || accommodations.length === 0">
                            <mat-option *ngIf="accommodations && accommodations.length > 0">
                                Selecione uma acomodação
                            </mat-option>
                            <mat-option *ngIf="!accommodations || accommodations.length === 0">
                                Não há acomodação habilitada
                            </mat-option>
                            <mat-option *ngFor="let accommodation of accommodations" [value]="accommodation.id">
                                {{accommodation.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Especialidade</mat-label>
                        <mat-select [formControl]="specializationControl" (selectionChange)="loadResponsibles($event)"
                            required>
                            <mat-option *ngIf="specializationsData && specializationsData.length > 0">
                                Selecione uma especialidade
                            </mat-option>
                            <mat-option *ngIf="!specializationsData || specializationsData.length === 0">
                                Não há especialidade cadastrada
                            </mat-option>
                            <mat-option *ngFor="let specialization of specializationsData" [value]="specialization.id">
                                {{specialization.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>
                            {{responsibles && responsibles.length > 0 ? 'Selecione um profissional' : 'Não há
                            profissional habilitado'}}
                        </mat-label>
                        <mat-select [formControl]="responsibleControl"
                            (selectionChange)="selectResponsible($event.value)" required
                            [disabled]="!responsibles || responsibles.length === 0">
                            <mat-option *ngIf="responsibles && responsibles.length > 0">
                                Selecione um profissional
                            </mat-option>
                            <mat-option *ngIf="!responsibles || responsibles.length === 0">
                                Não há profissional habilitado
                            </mat-option>
                            <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                                {{responsible.fullName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-raised-button type="submit" [disabled]="accommodationControl.hasError('required') || 
                                specializationControl.hasError('required') || responsibleControl.hasError('required')"
                    class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-success pull-right"
                    [mat-dialog-close]="dataToForm">Salvar</button>
            </div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>