<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Câmera</h4>
        <p class="card-category">Tire foto para upload</p>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <app-camera (pictureTaken)="handleImage($event)" *ngIf="!webCamImage"></app-camera>
                    <div *ngIf="webCamImage">
                        <img class="video-pic" [src]="webCamImage.imageAsDataUrl" />
                        <button mat-raised-button type="button" *ngIf="webCamImage" (click)="cleanImage()"
                            class=" col-12 snapshot btn btn-warning btn-block">Tirar
                            outra foto</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-12">
                <button mat-raised-button type="button" class="col-12 btn btn-success pull-right"
                    [mat-dialog-close]="webCamImage">Confirmar</button>
                <button mat-raised-button type="button" (click)="onCancelClick()"
                    class="col-12 btn btn-danger pull-right">Fechar</button>
            </div>
        </div>
    </div>