<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Câmera</h4>
        <p class="card-category">Tire foto para upload</p>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <app-camera (pictureTaken)="handleImage($event)" *ngIf="!webCamImage"></app-camera>
                    <div *ngIf="webCamImage">
                        <img [height]="338" [width]="450" [src]="webCamImage.imageAsDataUrl" />
                        <button mat-raised-button type="button" *ngIf="webCamImage" (click)="cleanImage()"
                            class="snapshot btn btn-warning">Tirar
                            outra foto</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button mat-raised-button type="button" (click)="onCancelClick()"
                class="btn btn-danger pull-right">Fechar</button>
            <button mat-raised-button type="button" (click)="sendImage()"
                class="btn btn-success pull-right">Confirmar</button>
        </div>
    </div>