<div class="card card-profile">
    <div class="card-avatar">
        <a href="javascript:void(0)">
            <img class="img" (click)="openWebCam()"
                src="{{dataToForm.profilePhoto ? dataToForm.profilePhoto : './assets/img/upload.png'}}" />
        </a>
    </div>
    <div class="card-header card-header-info">
        <div>
            <a href="javascript:void(0)" style="padding: 10px;">
                <i class="material-icons" (click)="logoInput.click()" matTooltip="Enviar foto" style="color: white;">cloud_upload</i>
            </a>
            <input #logoInput hidden="true" type="file" onclick="this.value=null" (change)="saveImagem($event)"
                accept=".png" />
            <a href="javascript:void(0)" style="padding: 10px;">
                <i class="material-icons" (click)="openWebCam()" matTooltip="Abrir câmera" style="color: white;">camera_alt</i>
            </a>
            <a href="javascript:void(0)" style="padding: 10px;">
                <i class="material-icons" (click)="openAppointmentsReport()" matTooltip="Agendamentos deste mês" style="color: white;">event</i>
            </a>
        </div>
        <h4 class="card-title">Dados do paciente</h4>
        <p class="card-category">Dados do paciente desde
            {{dataToForm.id ? 'criado em ' + (dataToForm.createdAt | date: 'dd/MM/yyyy') + ' - Idade: ' +
            dataToForm.lifetimeDescription : ''}}</p>

    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="save()">
            <mat-tab-group>
                <mat-tab label="Informações gerais *">
                    <br />
                    <div class="row">
                        <div *ngIf="dataToForm.id" class="col-md-1">
                            <mat-form-field>
                                <input matInput placeholder="Matrícula do Paciente" name="id"
                                    [(ngModel)]="dataToForm.id" #id="ngModel" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="CNS (Número) [ENTER]" name="cnsNumber"
                                    (keypress)="enterKeyPress($event, 'searchSUS')" [(ngModel)]="dataToForm.cnsNumber"
                                    #cnsNumber="ngModel" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="E-mail" name="email" [(ngModel)]="dataToForm.email"
                                    #email="ngModel" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Celular (Apenas números)" name="principalNumber"
                                    [(ngModel)]="dataToForm.principalNumber" #principalNumber mask="(00) 0 0000-0000" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Telefone (Apenas números)" name="secondaryNumber"
                                    [(ngModel)]="dataToForm.secondaryNumber" #secondaryNumber mask="(00) 0000-0000" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Cadastro de Pessoa Física (CPF)  [ENTER]" name="document"
                                    [(ngModel)]="dataToForm.document.value"
                                    (keypress)="enterKeyPress($event, 'searchCPF')" #document type="text" maxlength="14"
                                    mask="000.000.000-00" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field>
                                <input matInput placeholder="Nome Completo" name="fullName"
                                    [(ngModel)]="dataToForm.fullName" #fullName="ngModel" type="text" required />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput placeholder="Nome Completo da Mãe" name="motherName"
                                    [(ngModel)]="dataToForm.motherName" #motherName="ngModel" type="text" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput placeholder="Nome Completo do Pai" name="fatherName"
                                    [(ngModel)]="dataToForm.fatherName" #fatherName type="text" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-label>Etnia</mat-label>
                                <mat-select matNativeControl name="ethnicGroup"
                                    (change)="selectEthnicGroup($event.target.value)"
                                    [(ngModel)]="dataToForm.ethnicGroup" #ethnicGroup>
                                    <mat-option>Não Informado</mat-option>
                                    <mat-option value="WHITE">BRANCO</mat-option>
                                    <mat-option value="BLACK">PRETO</mat-option>
                                    <mat-option value="MULTIRACIAL">PARDO</mat-option>
                                    <mat-option value="YELLOW">AMARELO</mat-option>
                                    <mat-option value="INDIANS">ÍNDIO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <mat-form-field>
                                <mat-label>Tipo sanguíneo</mat-label>
                                <mat-select matNativeControl name="bloodType"
                                    (change)="selectEthnicGroup($event.target.value)" [(ngModel)]="dataToForm.bloodType"
                                    #bloodType>
                                    <mat-option>Não Informado</mat-option>
                                    <mat-option value="A_POSITIVE">A+</mat-option>
                                    <mat-option value="B_POSITIVE">B</mat-option>
                                    <mat-option value="AB_POSITIVE">AB+</mat-option>
                                    <mat-option value="O_POSITIVE">O+</mat-option>
                                    <mat-option value="A_NEGATIVE">A-</mat-option>
                                    <mat-option value="B_NEGATIVE">B-</mat-option>
                                    <mat-option value="AB_NEGATIVE">AB-</mat-option>
                                    <mat-option value="O_NEGATIVE">O-</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Data de nascimento" name="bornDate"
                                    [(ngModel)]="dataToForm.bornDate" #bornDate type="date" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Sexo</mat-label>
                                <mat-select matNativeControl name="gender" (change)="selectGender($event.target.value)"
                                    [(ngModel)]="dataToForm.gender" #gender required>
                                    <mat-option value="M">Masculino</mat-option>
                                    <mat-option value="F">Feminino</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Nacionalidade" name="nationality"
                                    [(ngModel)]="dataToForm.nationality" #nationality type="text" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field>
                                <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMinRows="8"
                                    [(ngModel)]="dataToForm.annotations" style="display: none;"
                                    [ngModelOptions]="{standalone: true}"></textarea>

                                <ckeditor [editor]="Editor" [(ngModel)]="dataToForm.annotations" #annotations
                                    name="annotations" [data]="editorData" (ready)="onReady($event)" [config]="config">
                                </ckeditor>

                                <span style="color:red" *ngIf="dataToForm.annotations?.length > 10000">
                                    As anotações não podem passar de 10000 caracteres (Atual:
                                    {{dataToForm.annotations?.length}})!
                                </span>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Documentos">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <mat-table [dataSource]="documentsDataSource">
                                <ng-container matColumnDef="type">
                                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        {{element.type}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="value">
                                    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dispatcher">
                                    <mat-header-cell *matHeaderCellDef> Org. Exped. </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.dispatcher}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uf">
                                    <mat-header-cell *matHeaderCellDef> UF Exped. </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.uf}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="expeditionDate">
                                    <mat-header-cell *matHeaderCellDef> DT. Exped. </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.expeditionDate}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Excluir
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" style="justify-content: center;">
                                        <button mat-raised-button type="button" class="btn-danger"
                                            (click)="deleteDocument(element)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColunsDocuments"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColunsDocuments;"></mat-row>

                            </mat-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                            <button mat-raised-button type="button" class="btn btn-warning col-12"
                                matTooltip="Adiciona um novo documento"
                                (click)="openEditDocument(null, dataToForm.id)"><span class="fa fa-plus"></span>
                                Adicionar documento</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Endereço *">
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Código Postal (CEP)" name="cep"
                                    (blur)="searchAddressByCEP()" [(ngModel)]="dataToForm.address.postalCode"
                                    maxlength="10" #cep type="text" mask="00.000-000" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Rua" name="street" [(ngModel)]="dataToForm.address.street"
                                    #street type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Número" name="addressNumber"
                                    [(ngModel)]="dataToForm.address.addressNumber" #addressNumber type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Complemento" name="complement"
                                    [(ngModel)]="dataToForm.address.complement" #complement type="text" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Bairro" name="neighborhood"
                                    [(ngModel)]="dataToForm.address.neighborhood" #neighborhood type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Cidade" name="city" [(ngModel)]="dataToForm.address.city"
                                    #city type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Estado</mat-label>
                                <mat-select matNativeControl name="state" (change)="selectState($event.target.value)"
                                    [(ngModel)]="dataToForm.address.state" #state required>
                                    <mat-option value="AC">Acre</mat-option>
                                    <mat-option value="AL">Alagoas</mat-option>
                                    <mat-option value="AP">Amapá</mat-option>
                                    <mat-option value="AM">Amazonas</mat-option>
                                    <mat-option value="BA">Bahia</mat-option>
                                    <mat-option value="CE">Ceará</mat-option>
                                    <mat-option value="DF">Distrito Federal</mat-option>
                                    <mat-option value="ES">Espírito Santo</mat-option>
                                    <mat-option value="GO">Goiás</mat-option>
                                    <mat-option value="MA">Maranhão</mat-option>
                                    <mat-option value="MT">Mato Grosso</mat-option>
                                    <mat-option value="MS">Mato Grosso do Sul</mat-option>
                                    <mat-option value="MG">Minas Gerais</mat-option>
                                    <mat-option value="PA">Pará</mat-option>
                                    <mat-option value="PB">Paraíba</mat-option>
                                    <mat-option value="PR">Paraná</mat-option>
                                    <mat-option value="PE">Pernambuco</mat-option>
                                    <mat-option value="PI">Piauí</mat-option>
                                    <mat-option value="RJ">Rio de Janeiro</mat-option>
                                    <mat-option value="RN">Rio Grande do Norte</mat-option>
                                    <mat-option value="RS">Rio Grande do Sul</mat-option>
                                    <mat-option value="RO">Rondônia</mat-option>
                                    <mat-option value="RR">Roraima</mat-option>
                                    <mat-option value="SC">Santa Catarina</mat-option>
                                    <mat-option value="SP">São Paulo</mat-option>
                                    <mat-option value="SE">Sergipe</mat-option>
                                    <mat-option value="TO">Tocantins</mat-option>
                                    <mat-option value="EX">Estrangeiro</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Plano de saúde">
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Número da carteira</mat-label>
                                <input matInput name="patientPlanNumber"
                                    [(ngModel)]="dataToForm.healthPlan.patientPlanNumber" #patientPlanNumber />
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Código do plano [ENTER]</mat-label>
                                <input matInput (keypress)="enterKeyPress($event, 'searchHealthPlan')" name="planCode"
                                    [(ngModel)]="dataToForm.healthPlan.planCode" #planCode />
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Código da operadora do plano</mat-label>
                                <input matInput name="operatorCode" [(ngModel)]="dataToForm.healthPlan.operatorCode"
                                    #operatorCode disabled />
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Nome comercial da operadora</mat-label>
                                <input matInput name="operatorName" [(ngModel)]="dataToForm.healthPlan.operatorName"
                                    #operatorName disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Nome comercial do plano</mat-label>
                                <input matInput name="commercialName" [(ngModel)]="dataToForm.healthPlan.commercialName"
                                    #commercialName disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field>
                                <mat-label>Segmentação</mat-label>
                                <mat-select matNativeControl name="segmentation" disabled
                                    [(ngModel)]="dataToForm.healthPlan.segmentation" #segmentation>
                                    <mat-option value="AMBULATORIAL">AMBULATORIAL</mat-option>
                                    <mat-option value="HOSPITAL_WITHOUT_OBSTETRICS">HOSPITALAR SEM OBSTETRÍCIA
                                    </mat-option>
                                    <mat-option value="HOSPITAL_WITH_OBSTETRICS">HOSPITALAR COM OBSTETRÍCIA</mat-option>
                                    <mat-option value="EXCLUSIVELY_DENTISTRY">EXCLUSIVAMENTE ODONTOLOGIA</mat-option>
                                    <mat-option value="REFERENCE">REFERÊNCIA</mat-option>
                                    <mat-option value="AMBULATORIAL_AND_DENTISTRY">AMBULTORIAL + ODONTOLOGIA
                                    </mat-option>
                                    <mat-option value="AMBULATORIAL_AND_HOSPITAL_WITHOUT_OBSTETRICS">AMBULATORIAL +
                                        HOSPITALAR SEM OBSTETRÍCIA
                                    </mat-option>
                                    <mat-option value="AMBULATORIAL_AND_HOSPITAL_WITH_OBSTETRICS">AMBULATORIAL +
                                        HOSPITALAR COM OBSTETRÍCIA
                                    </mat-option>
                                    <mat-option value="HOSPITAL_WITH_OBSTETRICS_AND_DENTISTRY">HOSPITALAR COM
                                        OBSTETRÍCIA + ODONTOLOGIA</mat-option>
                                    <mat-option value="HOSPITAL_WITHOUT_OBSTETRICS_AND_DENTISTRY">HOSPITALAR SEM
                                        OBSTETRÍCIA + ODONTOLOGIA
                                    </mat-option>
                                    <mat-option value="AMBULATORIAL_AND_HOSPITAL_WITHOUT_OBSTETRICS_AND_DENTISTRY">
                                        AMBULATORIAL + HOSPITALAR SEM OBSTETRÍCIA + ODONTOLOGIA</mat-option>
                                    <mat-option value="AMBULATORIAL_AND_HOSPITAL_WITH_OBSTETRICS_AND_DENTISTRY">
                                        AMBULATORIAL + HOSPITALAR COM OBSTETRÍCIA + ODONTOLOGIA</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Abrangência</mat-label>
                                <input matInput name="abrangency" [(ngModel)]="dataToForm.healthPlan.abrangency"
                                    #abrangency disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Tipo de contrato</mat-label>
                                <mat-select matNativeControl name="contractType" disabled
                                    [(ngModel)]="dataToForm.healthPlan.contractType" #contractType>
                                    <mat-option value="INDIVIDUAL_OR_FAMILY">INDIVIDUAL OU FAMILIAR</mat-option>
                                    <mat-option value="BUSINESS_COLLECTIVE">COLETIVO EMPRESARIAL</mat-option>
                                    <mat-option value="MEMBERSHIP_COLLECTIVE">COLETIVO COOPERATIVA</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="dataToForm.upcomingAppointments?.length > 0" label="Próximas consultas">
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <mat-table [dataSource]="upcomingAppointmentsDatasource" matSort>
                                <!-- ID Column -->
                                <ng-container matColumnDef="schedulingDateAndTime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Data - Hora</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.schedulingDateAndTime | date: 'dd/MM/yyyy
                                        HH:mm'}}</mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="professionalName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Profissional</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.professionalName}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Progress Column -->
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Situação do agendamento
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let row">{{getAppointmentStatusDescription(row.status)}}</mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="upcomingAppointmentsDisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: upcomingAppointmentsDisplayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="dataToForm.attendanceHistory?.length > 0" label="Histórico">
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <mat-table [dataSource]="attendanceHistoryDataSource" matSort>
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="entryDatetime">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dt. Entrada</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.entryDatetime | date: 'dd/MM/yyyy HH:mm'}}
                                    </mat-cell>
                                </ng-container>

                                <!-- Progress Column -->
                                <ng-container matColumnDef="entryCause">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Motivo da entrada
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.entryCause}}</mat-cell>
                                </ng-container>

                                <!-- Color Column -->
                                <ng-container matColumnDef="isFinished">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
                                    <mat-cell *matCellDef="let row"
                                        [style.color]="row.isFinished ? '#ED4E4A' : '#5EB462'">
                                        <h5>{{showStatus(row.isFinished)}}</h5>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="attendanceHistoryDisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: attendanceHistoryDisplayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="row">
                <div style="overflow:hidden; width: 100%;">
                    <div *ngIf="dataToForm.id" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-info col-12" (click)="resetForm()"
                            matTooltip="Adciona paciente"><span class="fa fa-plus"></span> Novo
                            Paciente</button>
                    </div>
                    <div *ngIf="dataToForm.id" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-warning col-12" (click)="gotToVisit()"
                            matTooltip="Redireciona para a tela de atendimento (prontuário)"><span
                                class="fa fa-location-arrow"></span> Ir para Prontuário</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-danger col-12" (click)="onCancelClick()"
                            matTooltip="Fecha formulário"><span class="fa fa-close"></span> Fechar</button>
                    </div>
                    <div class="ccol-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="submit" class="btn btn-success col-12"
                            [disabled]="!form.valid || (dataToForm.document.value && !cpfIsValid()) || dataToForm.annotations?.length > 10000"
                            matTooltip="Salva informações do formulário"><span class="fa fa-check"></span>
                            Salvar</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>