<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="https://nivlabs.com.br/">
                        NiV Labs
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://cliniv-api.herokuapp.com/swagger-ui.html">
                        Swagger <small>{{version}}</small>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            {{customer}}, todos os direitos reservados<small> - Desenvolvido por <a target="_blank" href="https://nivlabs.com.br" target="_blank">NivLabs</a></small>
        </div>
    </div>
</footer>