<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://gestao-prontuario.herokuapp.com/swagger-ui.html">
                        Friends Team
                    </a>
                </li>
                <li>
                    <a href="https://gestao-prontuario.herokuapp.com/swagger-ui.html">
                        Swagger
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito com amor
            <a href="https://gestao-prontuario.herokuapp.com/swagger-ui.html" target="_blank">NiV Labs</a> para uma web melhor.
        </div>
    </div>
</footer>
