<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://nivlabs.com.br/">
                        NiV Labs
                    </a>
                </li>
                <li>
                    <a href="https://gestao-prontuario.herokuapp.com/swagger-ui.html">
                        Swagger
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="https://gestao-prontuario.herokuapp.com/swagger-ui.html" target="_blank">NiV Labs</a>, levando a saúde até as nuvens. | CNPJ: 38.155.049/0001-96
        </div>
    </div>
</footer>
