<div class="card document-viewer">
    <div class="card-header card-header-info">
        <h4 class="card-title">Documento digital</h4>
        <p class="card-category">{{document.name}}</p>
    </div>
    <div class="card-body">
        <iframe *ngIf="document.type === 'PDF'" [src]="cleanUrl(document.base64)" class="document-pdf col-12"></iframe>
        <div class="clearfix"></div>
    </div>
    <div class="card-footer  justify">
        <button mat-raised-button type="button" (click)="onCancelClick()"
            class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger">Fechar</button>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>