<div class="card document-viewer">
    <div class="card-header card-header-info" style="margin-top: 10px;">
        <h4 class="card-title">Documento digital</h4>
        <p class="card-category">{{document.name}}</p>
    </div>
    <div class="card-body scroll">
        <div class="toolbar d-flex">
            <span class="my-icon" (click)="rotate(-90)"
                title="Girar para esquerda"><i class="material-icons">rotate_left</i></span>
            <span class="my-icon" (click)="rotate(90)"
                title="Girar para direita"><i class="material-icons">rotate_right</i></span>
            <span class="my-icon" (click)="incrementZoom(0.1)"
                title="Zoom In"><i class="material-icons">zoom_in</i></span>
            <span class="my-icon" (click)="incrementZoom(-0.1)"
                title="Zoom Out"><i class="material-icons">zoom_out</i></span>
            <span class="my-icon" (click)="download()"
                title="Download"><i class="material-icons">cloud_download</i></span>
            <label class="my-icon ml-auto" for="searchbox"
                title="Busca.."><i class="material-icons">search</i></label>
            <input #queryInp type="text" id="searchbox" name="searchbox" class="searchbox mr-5" placeholder="Busca..."
                [value]="pdfQuery" (input)="searchQueryChanged($event.target.value)"
                (keyup.enter)="searchQueryChanged(queryInp.value)" />
        </div>
        <div class="pdf-body col-12">
            <div *ngIf="isOutlineShown" class="outline">
                <ul *ngFor="let item of outline" class="outline-list">
                    <li>
                        <a (click)="navigateTo(item.dest)"> {{ item.title }} </a>

                        <ul *ngFor="let child of item.items">
                            <li>
                                <a (click)="navigateTo(child.dest)"> {{ child.title }} </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div *ngIf="!isLoaded && !error && progressData" id="progress">
                <div class="bg">
                    <div class="bar" [style.width]="(progressData.loaded / progressData.total) * 100 + '%'"></div>
                </div>
                <span>{{ getInt((progressData.loaded / progressData.total) * 100) }}%</span>
            </div>

            <pdf-viewer class="document-pdf col-12" [src]="document.base64" [rotation]="rotation" [original-size]="true"
                [fit-to-page]="true" (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom"
                [stick-to-page]="true" [render-text]="true" [external-link-target]="'blank'" [autoresize]="true"
                (on-progress)="onProgress($event)" (page-rendered)="pageRendered($event)" id="print-section">
            </pdf-viewer>
        </div>
    </div>
    <div class="card-footer  justify">
        <button mat-raised-button type="button" (click)="onCancelClick()"
            class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger">Fechar</button>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>