.document-viewer {
    height: 97%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.document-pdf {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.justify{
    justify-content: center !important;
}