<div class="card card-profile">
    <div class="card-avatar">
        <img class="img"
            src="{{dataToForm.patient.profilePhoto ? dataToForm.patient.profilePhoto : './assets/img/upload.png'}}" />
    </div>
    <div class="card-header card-header-info">
        <h4 class="card-title">Dados do agendamento</h4>
        <p class="card-category">Dados completos do agendamento
            {{dataToForm.id ? 'criado em ' + (dataToForm.createdAt | date: 'dd/MM/yyyy HH:mm:ss') : ''}}</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <br />
            <mat-list>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4>Informações do paciente</h4>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Matrícula do paciente [ENTER]</mat-label>
                            <input matInput type="text" placeholder="Matrícula do Paciente [ENTER]" name="patientId"
                                (keypress)="enterKeyPress($event, 'ID')" [(ngModel)]="dataToForm.patient.id" #patientId
                                required
                                [disabled]="(dataToForm.patient.id && dataToForm.patient.document.value && dataToForm.patient.fullName) || dataToForm.id" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>CPF do Paciente [ENTER]</mat-label>
                            <input matInput type="text" placeholder="CPF do paciente [ENTER]" name="patientDocument"
                                (keypress)="enterKeyPress($event, 'CPF')"
                                [(ngModel)]="dataToForm.patient.document.value" #patientDocument required maxlength="14"
                                mask="000.000.000-00"
                                [disabled]="(dataToForm.patient.id && dataToForm.patient.document.value && dataToForm.patient.fullName) || dataToForm.id" />
                        </mat-form-field>
                    </div>
                    <div *ngIf="dataToForm.patient?.principalNumber && dataToForm.professional?.fullName && dataToForm.schedulingDateAndTime"
                        class="col-md-3">
                        <a class="btn btn-success btn-block" target="_blank"
                            [href]="'https://api.whatsapp.com/send?phone=55' + dataToForm.patient?.principalNumber + '&text=Olá ' + dataToForm.patient?.fullName + ', estou passando para lembrar do seu compromisso com *' + dataToForm.professional?.fullName + '*%0aData: *' + (dataToForm.schedulingDateAndTime | date: 'dd/MM/yyyy') + '*%0aHora: *' + (dataToForm.schedulingDateAndTime | date: 'HH:mm:ss') + '*'"><span
                                class="fa fa-whatsapp"></span>
                            WhatsApp</a>
                    </div>
                    <div *ngIf="dataToForm.patient?.principalNumber" class="col-md-3">
                        <a class="btn btn-success btn-block" [href]="'tel:' + dataToForm.patient?.principalNumber"><span
                                class="fa fa-phone"></span> {{dataToForm.patient.principalNumber}}</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Nome Completo" name="fullName"
                                [(ngModel)]="dataToForm.patient.fullName" #fullName="ngModel" type="text" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Nome Social" name="socialName"
                                [(ngModel)]="dataToForm.patient.socialName" #socialName="ngModel" type="text"
                                disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput placeholder="Nome Completo da Mãe" name="motherName"
                                [(ngModel)]="dataToForm.patient.motherName" #motherName="ngModel" type="text"
                                disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput placeholder="Nome Completo do Pai" name="fatherName"
                                [(ngModel)]="dataToForm.patient.fatherName" #fatherName type="text" disabled />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="Telefone principal (Apenas números)" name="principalNumber"
                                [(ngModel)]="dataToForm.patient.principalNumber" #principalNumber type="text" disabled
                                mask="(00) 0000-00000" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="Data de nascimento" name="bornDate"
                                [(ngModel)]="dataToForm.patient.bornDate" #bornDate type="date" disabled />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Sexo</mat-label>
                            <mat-select matNativeControl name="gender" [(ngModel)]="dataToForm.patient.gender" #gender
                                disabled>
                                <mat-option value="M">Masculino</mat-option>
                                <mat-option value="F">Feminino</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Identidade de Gênero</mat-label>
                            <mat-select matNativeControl name="genderIdentity"
                                [(ngModel)]="dataToForm.patient.genderIdentity" #genderIdentity disabled>
                                <mat-option value="HETERO" selected>Heterosexual</mat-option>
                                <mat-option value="HOMO">Homossexual</mat-option>
                                <mat-option value="TRANS">Transexual</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h4>Informações do agendamento</h4>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <mat-form-field>
                            <mat-label>Data/hora do atendimento</mat-label>
                            <input matInput placeholder="Data/Hora do atendimento" type="datetime-local"
                                [(ngModel)]="dataToForm.schedulingDateAndTime" name="schedulingDateAndTime"
                                #schedulingDateAndTime="ngModel" required>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <mat-form-field>
                            <mat-label>
                                {{responsibles && responsibles.length > 0 ? 'Selecione um profissional' :
                                'Não
                                há
                                profissional habilitado'}}
                            </mat-label>
                            <mat-select [formControl]="responsibleControl" [(ngModel)]="dataToForm.professional.id"
                                [disabled]="!responsibles || responsibles.length === 0">
                                <mat-option *ngIf="!responsibles || responsibles.length === 0">
                                    Não há profissional cadastrado
                                </mat-option>
                                <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                                    {{responsible.fullName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field>
                            <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMinRows="12"
                            [(ngModel)]="dataToForm.annotation" style="display: none;"
                            [ngModelOptions]="{standalone: true}"></textarea>

                        <ckeditor [editor]="Editor" [(ngModel)]="dataToForm.annotation" #annotation
                            name="annotation" [data]="editorData" (ready)="onReady($event)" [config]="config"></ckeditor>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-label>Situação do agendamento</mat-label>
                        <mat-radio-group class="custom-radio-group" [(ngModel)]="dataToForm.status" name="status"
                            #status>
                            <mat-radio-button class="custom-radio-button" value="WAITING_CONFIRMATION">Aguardando
                                confirmação do paciente
                            </mat-radio-button>
                            <mat-radio-button class="custom-radio-button" value="CONFIRMED">Paciente confirmado(Paciente
                                confirmou presença)
                            </mat-radio-button>
                            <mat-radio-button class="custom-radio-button" value="COMPLETED">Atendimento realizado
                                (Paciente compareceu)
                            </mat-radio-button>
                            <mat-radio-button class="custom-radio-button" value="CANCELED">Agendamento cancelado
                                (Paciente cancelou)
                            </mat-radio-button>
                            <mat-radio-button class="custom-radio-button" value="MISSED">Agendamento perdido (Paciente
                                faltou)
                            </mat-radio-button>
                            <mat-radio-button class="custom-radio-button" value="RESCHEDULED">Remarcado (Paciente
                                remarcou)</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-list>
            <div class="clearfix"></div>
            <button mat-raised-button
                *ngIf="(dataToForm.patient.id && dataToForm.patient.document.value && dataToForm.patient.fullName) || dataToForm.id"
                type="button" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0 btn btn-warning"
                (click)="resetForm()" matTooltip="Limpar formulário"><span class="fa fa-eraser"></span> Limpar
                formulário</button>
            <button mat-raised-button class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger pull-right"
                (click)="onCancelClick()">Fechar</button>
            <button mat-raised-button type="submit"
                [disabled]="responsibleControl.hasError('required') || !dataToForm.patient.id || !dataToForm.professional.id || !dataToForm.schedulingDateAndTime"
                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-success pull-right" (click)="save()">{{
                dataToForm.id ? 'Salvar' : 'Agendar' }}</button>


        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>