.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
    height: 100vh;
}

.lock-page .page-header, .login-page .page-header {
    min-height: 100vh;
    display: inherit;
}

.header-filter {
    position: relative;
}

.page-header {
    height: 100%;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
    min-height: stretch;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.lock-page .page-header .container, .login-page .page-header .container {
    padding-top: 18vh!important;
}

.header-filter .container {
    z-index: 3;
    position: relative;
}

.page-header .title, .page-header>.container {
    color: #fff;
}

.off-canvas-sidebar .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.login-page .footer .copyright, .login-page .footer a {
    color: #fff;
}

.footer .copyright {
    padding: 15px 0;
}

.logo-img {
    align-items: center;
    align-content: center;
    text-align: center;
}

small.link {
    color: #07B0C5;
    cursor: pointer;
}

.card-footer.justify-content-center.link {
    padding-top: 0;
    padding-bottom: 0;
}

.save-info {
    padding-top: 20px;
    padding-left: 20px;
}

.save-info, span {
    margin-left: 5px;
}