<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Solicitação de Alta</h4>
        <p class="card-category">Preencha os campos solicitados...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Tipo de alta</mat-label>
                        <mat-select matNativeControl name="eventTypeId" [(ngModel)]="dataToForm.eventTypeId"
                            #eventTypeId required>
                            <mat-option [value]="19">ALTA HOSPITALAR (PEDIDO, ADMINISTRATIVA, FULGA) </mat-option>
                            <mat-option [value]="18">ALTA POR ÓBITO</mat-option>
                            <mat-option [value]="20">ALTA POR TRANSFERÊNCIA (PACIENTE PARA OUTRO HOSPITAL/CLÍNICA)
                            </mat-option>
                            <mat-option [value]="17">ALTA RESIDENCIAL (CONTINUIDADE DO TRATAMENTO EM CASA) </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Parecer (Médico | Clínico)</mat-label>
                        <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMinRows="10" name="annotations"
                            [(ngModel)]="dataToForm.annotations" #annotations></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div style="overflow:hidden; width: 100%;">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-danger col-12" (click)="onCancelClick()"
                            matTooltip="Fecha formulário"><span class="fa fa-close"></span> Fechar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="submit" class="btn btn-success col-12"
                            matTooltip="Salvar informações do formulário" [disabled]="!form.valid"
                            (click)="save()"><span class="fa fa-check"></span>
                            Salvar</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>