<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Dados da Questão</h4>
        <p class="card-category">Dados completos da Questão</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="Código da Questão" name="id" [(ngModel)]="dataForm.id" #id
                            disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Questão" name="question" [(ngModel)]="dataForm.question"
                            #question required />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Tipo Questão</mat-label>
                        <mat-select matNativeControl name="type"
                            (selectionChange)="selectType($event.value)" [(ngModel)]="dataForm.metaType"
                            #type>                            
                            <mat-option value="STRING">Texto</mat-option>
                            <mat-option value="NUMBER">Numérico</mat-option>
                            <!-- <mat-option value="GROUP">Agrupado</mat-option> -->
                            <mat-option value="BOOL">Sim ou Não</mat-option>
                            <mat-option value="DATE">Data</mat-option>
                            <mat-option value="TEXTAREA">Área de Texto</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <app-dialog-form-actions [showNew]="!!dataForm.id" newLabel="Nova Questão"
                newTooltip="Adicionar acomodação" [saveDisabled]="!form.valid" (new)="resetForm()"
                (cancel)="onCancelClick()"></app-dialog-form-actions>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>