<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Pacientes</h4>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-label>Tipo Paciente</mat-label>
                                        <mat-select matNativeControl name="type"
                                            (selectionChange)="selectPatientType($event.value)"
                                            [(ngModel)]="filters.type" #type>
                                            <mat-option>Ambos</mat-option>
                                            <mat-option value="IDENTIFIED">Identificado</mat-option>
                                            <mat-option value="NOT_IDENTIFIED">Não identificado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Matrícula do paciente ([ENTER] para pesquisar)"
                                            name="id" [(ngModel)]="filters.id" #id type="number"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="CNS (Número) ([ENTER] para pesquisar)"
                                            name="susNumber" [(ngModel)]="filters.susNumber" #susNumber type="text"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome do paciente ([ENTER] para pesquisar)"
                                            name="fullName" [(ngModel)]="filters.fullName" #fullName type="text"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Social do paciente ([ENTER] para pesquisar)"
                                            name="socialName" [(ngModel)]="filters.socialName" #socialName type="text"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="CPF do paciente ([ENTER] para pesquisar)"
                                            name="cpf" [(ngModel)]="filters.cpf" #cpf type="text"
                                            (keypress)="enterKeyPress($event)" mask="000.000.000-00" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" (click)="applyFilter()" matTooltip="Aplica Filtro"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger pull-right"><span
                                    class="fa fa-search"></span> Filtrar</button>
                            <button mat-raised-button type="button" (click)="openDialog(null)"
                                matTooltip="Adiciona paciente"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-info pull-right"><span
                                    class="fa fa-plus"></span> Novo
                                Paciente</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="loadNextPage()">
            <div class="row">
                <div class="center" *ngIf="!loading && dataNotFound">
                    <h1>Nenhum paciente encontrado...</h1>
                </div>
                <div *ngFor="let patient of datas" class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card link-card" (click)="openDialog(patient.id)">
                        <div class="card-body margin-color-active"
                            [ngClass]="{'margin-color-danger' : patient.type === 'NOT_IDENTIFIED'}">
                            <ul>
                                <li class="patient-name"
                                    [ngClass]="{'name-not-identified' : patient.type === 'NOT_IDENTIFIED'}">
                                    {{patient.fullName + (patient.type === 'NOT_IDENTIFIED' ? ' [Não Identificado]' : '')}}
                                </li>
                                <li><span class="fa fa-user patient-info"> Matrícula:</span> {{patient.id}}</li>
                                <li *ngIf="patient.susNumber"><span class="fa fa-lock patient-info"> SUS:</span>
                                    {{patient.susNumber}}</li>
                                <li *ngIf="patient.bornDate"><span class="fa fa-calendar patient-info">
                                        Nascimento:</span>
                                    {{patient.bornDate | date: 'dd/MM/yyyy'}}</li>
                                <li *ngIf="patient.gender"><span class="fa fa-venus-mars patient-info"> Gênero:</span>
                                    {{ patient.gender === 'M' ? 'Masculino' : 'Feminino'}}
                                </li>
                                <li *ngIf="patient.cpf"><span class="fa fa-id-card patient-info"> CPF:</span>
                                    {{patient.cpf | mask:'000.000.000-00'}}</li>
                                <li>
                                    <span class="fa fa-phone patient-info"> Tel:</span>
                                    {{patient.principalNumber ? (patient.principalNumber | mask: patient.principalNumber.length <= 10 ? '(00) 0000-00009' : '(00) 00000-0000') : ('Não informado')}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>