<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Atendimento <span *ngIf="visit.allergies.length > 0">(Paciente Alérgico)</span> </h4>
                        <p class="card-category">Informe uma matrícula de paciente ou um código de atendimento...</p>
                    </div>
                    <div class="card-body">
                        <div class="float-rigth">

                            <button mat-raised-button class="btn btn-info" matTooltip="Realiza questionário de Anamnese"
                                *ngIf="visit.id && visit.patientId" (click)="openAnamnesisDialog(visit.id)"><span
                                    class="fa fa-question"></span>
                                Anamnese</button>

                            <button mat-raised-button class="btn btn-info" matTooltip="Adiciona prescrição"
                                *ngIf="visit.id && visit.patientId"><span class="fa fa-file"></span> Prescrição</button>

                            <button mat-raised-button class="btn btn-info" matTooltip="Adiciona evolução"
                                (click)="openEvolutionDialog(visit.id)" *ngIf="visit.id && visit.patientId"><span
                                    class="fa fa-arrow-up"></span>
                                Evolução</button>

                            <button mat-raised-button class="btn btn-warning" matTooltip="Lista histórico do paciente"
                                *ngIf="visit.id && visit.patientId && (visit.susNumber || (visit.document && visit.document.value))"
                                (click)="searchPatientHistory()"><span class="fa fa-history"></span> Histórico</button>

                            <button mat-raised-button class="btn btn-warning" matTooltip="Identifica Paciente"
                                *ngIf="patientNotIdentified()" (click)="identifyPatient()">Identificar paciente</button>

                            <button mat-raised-button class="btn btn-primary" matTooltip="Adiciona evento"
                                *ngIf="visit.id && visit.patientId"><span class="fa fa-plus-square"></span>
                                Evento</button>

                            <button mat-raised-button class="btn btn-warning" matTooltip="Adiciona alergia"
                                *ngIf="visit.id && visit.patientId" (click)="openAllergyDialog(visit.patientId)"><span class="fa fa-plus"></span>
                                Alergia</button>

                            <button mat-raised-button class="btn btn-success" matTooltip="Realizar alta"
                                *ngIf="visit.id && visit.patientId"><span class="fa fa-check"></span>
                                Alta</button>

                            <button mat-raised-button (click)="ngOnInit()" matTooltip="Limpar pesquisa"
                                class="btn btn-danger" *ngIf="visit.id && visit.patientId"><span
                                    class="fa fa-close"></span> Limpar</button>

                        </div>
                        <hr />
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Código do atendimento" name="id"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.id" #id="ngModel" (keypress)="enterKeyPress($event)"
                                            [disabled]="visit.patientId" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Código do paciente" name="patientId"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.patientId" #patientId="ngModel"
                                            (keypress)="enterKeyPress($event)" [disabled]="visit.id" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Leito | Sala" name="lastAccommodation"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.lastAccommodation.description" #lastAccommodation="ngModel"
                                            disabled />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="CNS" name="susNumber"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.susNumber" #susNumber="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Nome" name="firstName"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.firstName" #firstName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Sobrenome" name="lastName"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.lastName" #lastName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Cadastro de Pessoa Física (CPF)"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}" name="document"
                                            [(ngModel)]="visit.document.value" #document type="text" maxlength="14"
                                            mask="000.000.000-00" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Data de nascimento"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}" name="bornDate"
                                            [(ngModel)]="visit.bornDate" #bornDate type="date" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <select [disabled]="true" matNativeControl placeholder="Gênero" name="gender"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.gender" #gender required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Medicamentos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Descrição</th>
                                    <th>Dosagem</th>
                                    <th>Médico</th>
                                    <th>Administração</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medicine of visit.medicines">
                                        <td>{{medicine.id}}</td>
                                        <td>{{medicine.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td>{{medicine.description}}</td>
                                        <td>{{medicine.amount}}</td>
                                        <td>{{medicine.prescriptionOfficer}}</td>
                                        <td>{{medicine.responsibleForTheAdministration}}</td>
                                    </tr>
                                    <tr *ngIf="visit.medicines.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Evoluções</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Ação</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evolution of visit.evolutions">
                                        <td>{{evolution.id}}</td>
                                        <td>{{evolution.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td><a href="#">Visualizar</a></td>
                                    </tr>
                                    <tr *ngIf="visit.evolutions.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Eventos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Tipo</th>
                                    <th>Documento</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let visitEvent of visit.events">
                                        <td>{{visitEvent.id}}</td>
                                        <td>{{visitEvent.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td>{{visitEvent.description}}</td>
                                        <td *ngIf="visitEvent.documents && visitEvent.documents.length > 0">
                                            
                                            <button *ngIf="visitEvent.documents.length == 1" mat-raised-button (click)="openDocumentViewerDialog(visitEvent.documents)" class="col-12 col-sm-12 col-md-4 col-lg-4 btn btn-info" matTooltip="Visualizar"><span class="fa fa-eye"></span></button>
                                            <button *ngIf="visitEvent.documents.length > 1" mat-raised-button (click)="openDocumentViewerDialog(visitEvent.documents)" class="col-12 col-sm-12 col-md-4 col-lg-4 btn btn-info" matTooltip="Selecionar"><span class="fa fa-list"></span></button>                                            
                                            
                                        </td>
                                        <td *ngIf="visitEvent.documents.length === 0">Não existe</td>
                                    </tr>
                                    <tr *ngIf="visit.events.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>