<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" [ngClass]="
                            {
                                'card-header-danger' : visit && visit.attendanceLevel === 'HIGH',
                                'card-header-warning' : visit && visit.attendanceLevel === 'MEDIUM'
                            }">
                        <div class="card-title">
                            <h4>Atendimento <span *ngIf="visit.allergies.length > 0">(Paciente
                                    Alérgico)</span>
                                <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;"
                                    *ngIf="visit.id && visit.patientId">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item matTooltip="Realiza questionário de Anamnese"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime"
                                        (click)="openAnamnesisDialog(visit.id)">
                                        <mat-icon>ballot</mat-icon>
                                        <span>Anamnese</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Adiciona prescrição"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime">
                                        <mat-icon>insert_drive_file</mat-icon>
                                        <span>Prescrição</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Adiciona evolução"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime"
                                        (click)="openEvolutionDialog(visit.id)">
                                        <mat-icon>arrow_upward</mat-icon>
                                        <span>Evolução</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Lista histórico do paciente"
                                        *ngIf="visit.id && visit.patientId && (visit.susNumber || (visit.document && visit.document.value))"
                                        (click)="searchPatientHistory()">
                                        <mat-icon>history</mat-icon>
                                        <span>Histórico</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Identifica Paciente"
                                        *ngIf="patientNotIdentified()" (click)="identifyPatient()">
                                        <mat-icon>perm_identity</mat-icon>
                                        <span>Identificar paciente</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Adiciona evento"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime">
                                        <mat-icon>create</mat-icon>
                                        <span>Criar Evento</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Adiciona alergia"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime"
                                        (click)="openAllergyDialog(visit.patientId)">
                                        <mat-icon>add</mat-icon>
                                        <span>Alergia</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Realizar alta"
                                        *ngIf="visit.id && visit.patientId && !visit.exitDateTime">
                                        <mat-icon>check</mat-icon>
                                        <span>Alta</span>
                                    </button>
                                    <button mat-menu-item matTooltip="Limpar pesquisa"
                                        *ngIf="visit.id && visit.patientId" (click)="ngOnInit()">
                                        <mat-icon>clear</mat-icon>
                                        <span>Limpar</span>
                                    </button>
                                </mat-menu>
                            </h4>
                        </div>
                        <p class="card-category">Informe uma matrícula de paciente ou um código de atendimento e aperte
                            a tecla [ENTER]...
                        </p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Código do atendimento" name="id"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.id" #id="ngModel" (keypress)="enterKeyPress($event)"
                                            [disabled]="visit.patientId" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Código do paciente" name="patientId"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.patientId" #patientId="ngModel"
                                            (keypress)="enterKeyPress($event)" [disabled]="visit.id" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="datetime-local" placeholder="Data/Hora Entrada"
                                            name="entryDateTime"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.entryDateTime" #entryDateTime="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="datetime-local" placeholder="Data/Hora Saída"
                                            name="exitDateTime"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.exitDateTime" #exitDateTime="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Leito | Sala" name="lastAccommodation"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.lastAccommodation.description"
                                            #lastAccommodation="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="CNS" name="susNumber"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.susNumber" #susNumber="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Nome Completo" name="fullName"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.fullName" #fullName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Nome Social" name="socialName"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.socialName" #socialName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Cadastro de Pessoa Física (CPF)"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            name="document" [(ngModel)]="visit.document.value" #document type="text"
                                            maxlength="14" mask="000.000.000-00" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input [disabled]="true" matInput placeholder="Data de nascimento"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            name="bornDate" [(ngModel)]="visit.bornDate" #bornDate
                                            type="datetime-local" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <select [disabled]="true" matNativeControl placeholder="Sexo" name="gender"
                                            [ngClass]="{'patient-not-identified' : patientNotIdentified()}"
                                            [(ngModel)]="visit.gender" #gender required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div *ngIf="visit.medicines.length > 0" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" [ngClass]="
                            {
                                'card-header-danger' : visit && visit.attendanceLevel === 'HIGH',
                                'card-header-warning' : visit && visit.attendanceLevel === 'MEDIUM'
                            }">
                        <h4 class="card-title">Medicamentos</h4>
                    </div>
                    <div class="card-body">

                        <mat-table [dataSource]="dataSourceMedicines" matSort #sortMedicines="matSort">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> COD </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="datetime">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Data - Hora </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.datetime != 'Sem Registro' ? (element.datetime  | date: 'dd/MM/yyyy HH:mm') : element.datetime}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Descrição </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Dosagem </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="responsibleForTheAdministration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Administração </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.responsibleForTheAdministration}}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsMedicines"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsMedicines;"></mat-row>

                        </mat-table>

                    </div>
                </div>
            </div>

            <div *ngIf="visit.evolutions.length > 0" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" [ngClass]="
                            {
                                'card-header-danger' : visit && visit.attendanceLevel === 'HIGH',
                                'card-header-warning' : visit && visit.attendanceLevel === 'MEDIUM'
                            }">
                        <h4 class="card-title">Evoluções</h4>
                    </div>
                    <div class="card-body">

                        <mat-table [dataSource]="dataSourceEvolutions" matSort #sortEvolutions="matSort">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> COD </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="datetime">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Data - Hora </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.datetime != 'Sem Registro' ? (element.datetime  | date: 'dd/MM/yyyy HH:mm') : element.datetime}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="responsibleName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Responsável </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.responsibleName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Ação </mat-header-cell>
                                <mat-cell *matCellDef="let element">Sem ação...</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumnsEvolutions"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsEvolutions;"></mat-row>

                        </mat-table>

                    </div>
                </div>
            </div>

            <div *ngIf="visit.events.length > 0" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" [ngClass]="
                            {
                                'card-header-danger' : visit && visit.attendanceLevel === 'HIGH',
                                'card-header-warning' : visit && visit.attendanceLevel === 'MEDIUM'
                            }">
                        <h4 class="card-title">Eventos</h4>
                    </div>
                    <div class="card-body">
                        <mat-table [dataSource]="dataSourceEvents" matSort #sortEvents="matSort">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> COD </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="datetime">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Data - Hora </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.datetime != 'Sem Registro' ? (element.datetime  | date: 'dd/MM/yyyy HH:mm') : element.datetime}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Tipo </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="documents">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                    style="font-size: 0.95rem; font-weight: 500;"> Documento </mat-header-cell>
                                <mat-cell *matCellDef="let element">

                                    <span *ngIf="element.documents === 'Sem Registro'">
                                        Sem Registro
                                    </span>

                                    <span *ngIf="element.documents.length === 0">
                                        Não existe
                                    </span>

                                    <button *ngIf="element.documents.length === 1" mat-raised-button
                                        (click)="openDocumentViewerDialog(element.documents)"
                                        class="col-12 col-sm-12 col-md-4 col-lg-4 btn btn-info"
                                        matTooltip="Visualizar"><span class="fa fa-eye"></span></button>


                                    <button *ngIf="element.documents.length > 1 && element.documents != 'Sem Registro'"
                                        mat-raised-button (click)="openDocumentViewerDialog(element.documents)"
                                        class="col-12 col-sm-12 col-md-4 col-lg-4 btn btn-info"
                                        matTooltip="Selecionar"><span class="fa fa-list"></span></button>

                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsEvents"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsEvents;"></mat-row>

                        </mat-table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>