<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Visita</h4>
                        <p class="card-category">Informe uma matrícula de paciente ou um código de visita...</p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                [disabled]="!patient.document.value" *ngIf="!patient.document.value">Iniciar
                                Visita</button>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                *ngIf="patient.document.value">Liberar
                                Paciente</button>
                            <button mat-raised-button type="submit" class="btn btn-warning pull-right"
                                *ngIf="patient.document.value">Histórico do
                                paciente</button>

                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                *ngIf="patient.document.value">Documentos</button>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                *ngIf="patient.document.value">Anamnese</button>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                *ngIf="patient.document.value">Medicamentos</button>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                *ngIf="patient.document.value">Prescrição</button>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Matrícula do Paciente" name="id"
                                            [(ngModel)]="patient.id" #id="ngModel" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Código da visita" name="visitId"
                                            [(ngModel)]="patient.visitId" #id="ngModel" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Cadastro de Pessoa Física (CPF)"
                                            name="document" (blur)="searchVisitByCpf()"
                                            [(ngModel)]="patient.document.value" #document type="text" maxlength="11" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Nome" name="firstName"
                                            [(ngModel)]="patient.firstName" #firstName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Sobrenome" name="lastName"
                                            [(ngModel)]="patient.lastName" #lastName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput
                                            placeholder="Telefone principal (Apenas números)" name="principalNumber"
                                            [(ngModel)]="patient.principalNumber" #principalNumber type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Data de nascimento"
                                            name="bornDate" [(ngModel)]="patient.bornDate" #bornDate type="date" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <select [disabled]="true" matNativeControl placeholder="Gênero" name="gender"
                                            [(ngModel)]="patient.gender" #gender required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Alergias</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let allergy of patient.events">{{allergy}}</li>
                            <li *ngIf="patient.events">O paciente não possui alergias ou desconhece.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Eventos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Motivo</th>
                                    <th>Documento</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let visitEvent of patient.events">
                                        <td>{{visitEvent.id}}</td>
                                        <td>{{visitEvent.datetime}}</td>
                                        <td>{{visitEvent.description}}</td>
                                        <td>{{visitEvent.documentId ? '<a href="#">Visualizar</a>' : 'Não existe'}}</td>
                                    </tr>
                                    <tr *ngIf="patient.events.length === 0">
                                        <td>Sem Registro</td>x
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>