<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Visita</h4>
                        <p class="card-category">Informe uma matrícula de paciente ou um código de visita...</p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <button mat-raised-button class="btn btn-success pull-right"
                                *ngIf="visit.document.value">Realizar Alta</button>
                            <button mat-raised-button class="btn btn-warning pull-right"
                                *ngIf="visit.document.value" (click)="searchPatientHistory()">Histórico do
                                paciente</button>
                            <button mat-raised-button (click)="ngOnInit()" class="btn btn-danger pull-right"
                                *ngIf="visit.document.value">Nova Consulta</button>

                            <div class="vertical-line pull-right" *ngIf="visit.document.value"></div>

                            <button mat-raised-button class="btn btn-info pull-right"
                                *ngIf="visit.document.value">Consultar anamnese</button>
                            <button mat-raised-button class="btn btn-info pull-right" *ngIf="visit.document.value">Usar
                                medicamento</button>
                            <button mat-raised-button class="btn btn-info pull-right"
                                *ngIf="visit.document.value">Prescrição</button>
                            <button mat-raised-button class="btn btn-info pull-right"
                                *ngIf="visit.document.value">Adicionar Evolução</button>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" placeholder="Código da visita" name="id"
                                            [(ngModel)]="visit.id" #id="ngModel" (blur)="searchVisitById()"
                                            [disabled]="visit.patientId" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" placeholder="Código do paciente" name="patientId"
                                            [(ngModel)]="visit.patientId" #patientId="ngModel"
                                            (blur)="searchActivedVisitByPatientId()" [disabled]="visit.id" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Cadastro de Pessoa Física (CPF)"
                                            name="document" [(ngModel)]="visit.document.value" #document type="text"
                                            maxlength="11" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Nome" name="firstName"
                                            [(ngModel)]="visit.firstName" #firstName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Sobrenome" name="lastName"
                                            [(ngModel)]="visit.lastName" #lastName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput
                                            placeholder="Telefone principal (Apenas números)" name="principalNumber"
                                            [(ngModel)]="visit.principalNumber" #principalNumber type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [disabled]="true" matInput placeholder="Data de nascimento"
                                            name="bornDate" [(ngModel)]="visit.bornDate" #bornDate type="date" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <select [disabled]="true" matNativeControl placeholder="Gênero" name="gender"
                                            [(ngModel)]="visit.gender" #gender required>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Alergias</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let allergy of visit.allergies">{{allergy}}</li>
                            <li *ngIf="visit.events">Sem registros de alergias.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Eventos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Tipo</th>
                                    <th>Documento</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let visitEvent of visit.events">
                                        <td>{{visitEvent.id}}</td>
                                        <td>{{visitEvent.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td>{{visitEvent.description}}</td>
                                        <td *ngIf="visitEvent.documentId"><a href="#">Visualizar</a></td>
                                        <td *ngIf="!visitEvent.documentId">Não existe</td>
                                    </tr>
                                    <tr *ngIf="visit.events.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Evoluções</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Ação</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evolution of visit.evolutions">
                                        <td>{{evolution.id}}</td>
                                        <td>{{evolution.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td><a href="#">Visualizar</a></td>
                                    </tr>
                                    <tr *ngIf="visit.evolutions.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Medicamentos</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>COD</th>
                                    <th>Data - Hora</th>
                                    <th>Descrição</th>
                                    <th>Dosagem</th>
                                    <th>Médico</th>
                                    <th>Administração</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medicine of visit.medicines">
                                        <td>{{medicine.id}}</td>
                                        <td>{{medicine.datetime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                        <td>{{medicine.description}}</td>
                                        <td>{{medicine.amount}}</td>
                                        <td>{{medicine.prescriptionOfficer}}</td>
                                        <td>{{medicine.responsibleForTheAdministration}}</td>
                                    </tr>
                                    <tr *ngIf="visit.medicines.length === 0">
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                        <td>Sem Registro</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>