<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Dados do Formulário</h4>
        <p class="card-category">Dados completos do Formulário</p>
    </div>
    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Informações do Formulário *">
                <br />
                <form #form="ngForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Código do Formulário" name="id"
                                    [(ngModel)]="dataToForm.id" #id disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput placeholder="Descrição" name="title" [(ngModel)]="dataToForm.title"
                                    #title required />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div style="overflow:hidden; width: 100%;">
                            <div *ngIf="dataToForm.id" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                                <button mat-raised-button type="button" class="btn btn-info col-12"
                                    (click)="resetForm()" matTooltip="Adicionar novo formulário"><span
                                        class="fa fa-plus"></span>
                                    Novo Formulário</button>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                                <button mat-raised-button type="button" class="btn btn-danger col-12"
                                    (click)="onCancelClick()" matTooltip="Fechar formulário"><span
                                        class="fa fa-close"></span> Fechar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                                <button mat-raised-button type="submit" class="btn btn-success col-12"
                                    matTooltip="Salvar informações do formulário" [disabled]="!form.valid"
                                    (click)="save()"><span class="fa fa-check"></span>Salvar</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </mat-tab>

            <mat-tab *ngIf="dataToForm.id" label="Questões do formulário">
                <div class="row">
                    <div class="col-md-12">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="question">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Pergunta </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.question}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="metaType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo da resposta </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{getTypeDescription(element.metaType)}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Ações
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" style="justify-content: center;">
                                    <button mat-raised-button type="button" class="btn-info"
                                        (click)="openEditDynamicFormQuestionDialog(element)" style="margin-right: 10px;">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-raised-button type="button" class="btn-danger"
                                        (click)="openDeleteAccommodationDialog(element.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="dataToForm.id" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-warning col-12"
                            matTooltip="Adiciona Questão" (click)="openDynamicFormQuestionDialog(dataToForm.id)"><span
                                class="fa fa-plus"></span>
                            Nova Questão</button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-loading [show]="loading"></app-loading>