<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Criação de um novo evento clínico</h4>
        <p class="card-category">Preencha os dados de evento clínico do paciente...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Tipo de Evento</mat-label>
                        <mat-select [formControl]="eventTypeControl" required>
                            <mat-option>
                                Selecione um tipo de evento
                            </mat-option>
                            <mat-option value="5">Triagem</mat-option>
                            <mat-option value="8">Criação de prescrição</mat-option>
                            <mat-option value="9">Anulação de prescrição</mat-option>
                            <mat-option value="10">Adicionar Procedimento</mat-option>
                            <mat-option value="13">Administar Medicamento</mat-option>
                            <mat-option value="14">Anular administração de medicamento</mat-option>
                            <mat-option value="15">Evolução</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Setor/Leito</mat-label>
                        <mat-select [formControl]="sectorControl" (selectionChange)="loadAccommodations($event)"
                            required>
                            <mat-option>
                                Selecione um setor ou leito
                            </mat-option>
                            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                                {{sector.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>
                            {{accommodations && accommodations.length > 0 ? 'Selecione uma acomodação' : 'Não há acomodação habilitada'}}
                        </mat-label>
                        <mat-select [formControl]="accommodationControl"
                            (selectionChange)="selectAccommodation($event.value)"
                            [disabled]="!accommodations || accommodations.length === 0" required>
                            <mat-option *ngIf="accommodations && accommodations.length > 0">
                                Selecione uma acomodação
                            </mat-option>
                            <mat-option *ngIf="!accommodations || accommodations.length === 0">
                                Não há acomodação habilitada
                            </mat-option>
                            <mat-option *ngFor="let accommodation of accommodations" [value]="accommodation.id">
                                {{accommodation.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Observações</mat-label>
                        <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMinRows="4" name="observations"
                            [(ngModel)]="dataToForm.observations" #observations></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Procedimento</mat-label>
                        <mat-select [formControl]="procedure" (selectionChange)="selectProcedure($event.value)">
                            <mat-option>
                                Selecione um procedimento
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>