<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Criação de um novo evento clínico</h4>
        <p class="card-category">Preencha os dados de evento clínico do paciente...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Tipo de Evento</mat-label>
                        <mat-select [formControl]="eventTypeControl" (selectionChange)="selectEventType($event.value)"
                            required>
                            <mat-option>
                                Selecione um tipo de evento
                            </mat-option>
                            <mat-option value="5">Triagem</mat-option>
                            <mat-option value="8">Criação de prescrição</mat-option>
                            <mat-option value="9">Anulação de prescrição</mat-option>
                            <mat-option value="10">Adicionar Procedimento</mat-option>
                            <mat-option value="13">Administar Medicamento</mat-option>
                            <mat-option value="14">Anular administração de medicamento</mat-option>
                            <mat-option value="15">Evolução</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Setor/Leito</mat-label>
                        <mat-select [formControl]="sectorControl" (selectionChange)="loadAccommodations($event)"
                            required>
                            <mat-option>
                                Selecione um setor ou leito
                            </mat-option>
                            <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                                {{sector.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>
                            {{accommodations && accommodations.length > 0 ? 'Selecione uma acomodação' : 'Não há
                            acomodação habilitada'}}
                        </mat-label>
                        <mat-select [formControl]="accommodationControl"
                            (selectionChange)="selectAccommodation($event.value)"
                            [disabled]="!accommodations || accommodations.length === 0" required>
                            <mat-option *ngIf="accommodations && accommodations.length > 0">
                                Selecione uma acomodação
                            </mat-option>
                            <mat-option *ngIf="!accommodations || accommodations.length === 0">
                                Não há acomodação habilitada
                            </mat-option>
                            <mat-option *ngFor="let accommodation of accommodations" [value]="accommodation.id">
                                {{accommodation.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Observações</mat-label>
                        <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMinRows="10" name="observations"
                            [(ngModel)]="dataToForm.observations" #observations></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field>
                        <input matInput placeholder="Código do procedimento [ENTER]" name="procedureId"
                            #procedureId="ngModel" [(ngModel)]="dataToForm.procedure.id"
                            (keypress)="searchProcedureById($event)" maxlength="10" type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-10">
                    <mat-form-field>
                        <mat-label>Procedimento</mat-label>
                        <input matInput placeholder="Descrição do procedimento"
                            [value]="dataToForm.procedure.description" type="text" disabled />
                    </mat-form-field>
                </div>
            </div>
            <hr />
            <div class="row" *ngFor="let file of dataToForm.documents">
                <div class="col-md-12 item-attached-line">
                    <div class="item-attached">
                        <i class="fa fa-paperclip icon"></i> {{file.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input hidden #inputFile id="inputFile" name="inputFile" (change)="addFile($event)" type="file"
                        accept=".pdf">
                    <label for="inputFile" class="col-md-12 btn btn-info"><i class="fa fa-plus"></i>
                        Anexar arquivo</label>
                </div>
                <div class="col-md-6">
                    <button class="col-md-12 btn btn-warning" (click)="cleanAttacheds()"><i class="fa fa-eraser"></i>
                        Apagar anexos</button>
                </div>
            </div>
            <br />
            <hr />
            <div class="clearfix"></div>
            <button mat-raised-button type="submit"
                [disabled]="eventTypeControl.hasError('required') || accommodationControl.hasError('required')"
                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-primary pull-right" (click)="createEvent(true)">Criar
                Evento e fechar</button>

            <button mat-raised-button
                [disabled]="eventTypeControl.hasError('required') || accommodationControl.hasError('required')"
                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-success pull-right" (click)="createEvent(false)">Criar
                Evento e manter</button>

        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>