<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Filtros</h4>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Identificador do setor" name="id" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Descrição do setor" name="description" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Filtrar</button>
                            <button mat-raised-button type="button" (click)="openDialog(null)" class="btn btn-info pull-right">Novo Setor</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center" *ngIf="!loading && sectorNotFound">
                <h1>Nenhum setor encontrado...</h1>
            </div>
            <div *ngFor="let sector of sectors" class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card link-card" (click)="openDialog(sector)">
                    <div class="card-body margin-color-active">
                        <ul>
                            <li><span class="fa fa-key sector-info"> Identificador:</span> {{sector.id}}</li>
                            <li><span class="fa fa-map sector-info"> {{sector.description}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>