<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Operadoras</h4>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Código ANS [ENTER]"
                                            name="ansCode" [(ngModel)]="filters.ansCode" #ansCode
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text"
                                            placeholder="Nome Corporativo [ENTER]" name="companyName"
                                            [(ngModel)]="filters.companyName" #companyName
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Nome fantasia [ENTER]"
                                            name="fantasyName" [(ngModel)]="filters.fantasyName" #fantasyName
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Modalidade</mat-label>
                                        <mat-select matNativeControl name="modality"
                                            (selectionChange)="selectOperatorModality($event.value)"
                                            [(ngModel)]="filters.modality" #patientType>
                                            <mat-option>Todas</mat-option>
                                            <mat-option value="HEALTH_PLAN_OPERATORS">Operadora de plando de saúde
                                            </mat-option>
                                            <mat-option value="MEDICAL_OR_DENTAL_COOPERATIVE">Cooperativa médica ou
                                                odontológica</mat-option>
                                            <mat-option value="SELF_MANAGEMENT">Autogerenciamento</mat-option>
                                            <mat-option value="PHILANTHROPY">Filantropia</mat-option>
                                            <mat-option value="ADMNISTRATOR">Administradora</mat-option>
                                            <mat-option value="HEALTH_INSURERS">Seguradora de saúde</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" (click)="applyFilter()"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger pull-right"
                                matTooltip="Aplica Filtro">
                                <span class="fa fa-search"></span> Filtrar</button>
                            <button mat-raised-button type="button" (click)="openDialog(null)"
                                matTooltip="Adiciona Operadora"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-info pull-right"><span
                                    class="fa fa-plus"></span> Nova Operadora</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="loadNextPage()">
            <div class="row">
                <div class="center" *ngIf="!loading && dataNotFound">
                    <h1>Nenhuma operadora de saúde encontrada...</h1>
                </div>
                <div *ngFor="let data of datas" class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card link-card" (click)="openDialog(data.id)">
                        <div class="card-body margin-color-active">
                            <ul>
                                <li class="data-name"> {{data.companyName}}</li>
                                <li><span class="fa fa-user data-info"> Nome Fantasia:</span> {{data.fantasyName}}</li>
                                <li><span class="fa fa-key data-info"> Matrícula:</span> {{data.id}}</li>
                                <li><span class="fa fa-key data-info"> Código ANS:</span> {{data.ansCode}}</li>
                                <li><span class="fa fa-id-card data-info"> CNPJ:</span> {{data.cnpj}}</li>
                                <li><span class="fa fa-phone data-info"> Modalidade:</span>
                                    {{getModalityDescription(data.modality)}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="loading"></app-loading>