<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Criação de um novo atendimento</h4>
        <p class="card-category">Preencha os campos solicitados...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" placeholder="Código do paciente" name="patientId"
                            [(ngModel)]="newVisit.id" #id="ngModel" disabled required />
                    </mat-form-field>
                </div>
                <!-- Input autocomplete para tipo de Evento -->
                <div class="col-md-3">
                    <mat-form-field>
                        <input type="text" matInput [formControl]="eventTypeControl" [matAutocomplete]="eventTypeOption"
                            placeholder="Escolha o tipo de entrada" required>
                    </mat-form-field>
                    <mat-autocomplete #eventTypeOption="matAutocomplete">
                        <mat-option *ngFor="let eventType of filteredEventTypesOptions | async"
                            [value]="eventType.id + ' - ' + eventType.description">
                            {{eventType.id + ' - ' + eventType.description}}</mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Motivo do atendimento" name="entryCause"
                            [(ngModel)]="newVisit.entryCause" #entryCause="ngModel" type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input type="text" matInput [formControl]="specializationControl"
                            [disabled]="!eventTypeSelectedId" [matAutocomplete]="specializationOption"
                            placeholder="Escolha a especialidade">
                    </mat-form-field>
                    <mat-autocomplete #specializationOption="matAutocomplete">
                        <mat-option *ngFor="let specialization of specializations" [value]="specialization.id">
                            {{specialization.name}}</mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input type="text" matInput [formControl]="responsibleControl"
                            [disabled]="!specializationSelectedId" [matAutocomplete]="responsibleOption"
                            placeholder="Escolha um profissional">
                    </mat-form-field>
                    <mat-autocomplete #responsibleOption="matAutocomplete">
                        <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                            {{responsible.name}}</mat-option>
                    </mat-autocomplete>
                </div>
                <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-success pull-right"
                    [mat-dialog-close]="newVisit">Iniciar Visita</button>
            </div>
        </form>
    </div>
</div>