<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Criação de nova visita de paciente</h4>
        <p class="card-category">Preencha os campos solicitados...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput type="number" placeholder="Código do paciente" name="patientId"
                            [(ngModel)]="newVisit.id" #id="ngModel" disabled required />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Motivo da visita" name="entryCause"
                            [(ngModel)]="newVisit.entryCause" #entryCause="ngModel" type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <select matNativeControl placeholder="Profissional" name="responsibleId"
                            [(ngModel)]="newVisit.responsibleId" #responsibleId="ngModel" required>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </mat-form-field>
                </div>
                <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-success pull-right"
                    [mat-dialog-close]="newVisit">Iniciar Visita</button>
            </div>
        </form>
    </div>
</div>