<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Formas de Pagamento</h4>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="number"
                                            placeholder="Código da forma de pagamento [ENTER]" name="id"
                                            [(ngModel)]="filters.id" #id (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome da forma de pagamento [ENTER]"
                                            name="name" [(ngModel)]="filters.name" #name
                                            type="text" (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" (click)="applyFilter()"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger pull-right"
                                matTooltip="Aplica Filtro">
                                <span class="fa fa-search"></span> Filtrar</button>
                            <button mat-raised-button type="button" (click)="openDialog(null)"
                                matTooltip="Adiciona forma de pagamento"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-info pull-right"><span
                                    class="fa fa-plus"></span> Nova Forma de Pagamento</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <app-search-result-list [items]="datas" [loading]="loading" [dataNotFound]="dataNotFound"
            emptyMessage="Nenhuma forma de pagamento encontrada..." (scrolled)="loadNextPage()">
            <ng-template let-paymentMethod>
                <div class="card link-card" (click)="openDialog(paymentMethod)">
                    <div class="card-body margin-color-active">
                        <ul>
                            <li><span class="fa fa-key payment-method-info"> Identificador:</span> {{paymentMethod.id}}</li>
                            <li><span class="fa fa-pencil-square-o payment-method-info"> Nome:</span> {{paymentMethod.name}}</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </app-search-result-list>
    </div>
</div>
<app-loading [show]="loading"></app-loading>
