.stretch { 
	align-items: stretch;
	justify-content: flex-start;
}

.item {
	flex: 1;
}

.schedule-button-plus {
    float: right;
    top: 0px;
    margin-top: 0;
}

.center {
    text-align: center;
    width: 100%;
}

.schedule-item {
	border-left: 5px solid #0bb3c8;
    padding-left: 10px;
    border-radius: 5px;
    padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFF;
	font-size: 12px;
}
.link-card.schedule-item.canceled {
	border-left: 5px solid #f55145 !important;
}

.link-card.schedule-item.completed {
	border-left: 5px solid #4CAF50 !important;
}

.link-card.schedule-item.waiting {
	border-left: 5px solid #FF9800 !important;
}

.link-card {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	position: relative;
	cursor: pointer;
	margin-bottom: 5px;
}

.link-card:hover {
	bottom: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	position: relative;
    cursor: pointer;
}

.description-prop {
	display: contents;
	font-weight: 400;
}

.mat-calendar-period-button {
	display: none !important;
}

:host /deep/ .spinner-three-bounce {	
	position: fixed !important;
  }