<div class="main-content">
    <div class="container-fluid">
        <div class="row stretch">
            <div class="item col-md-6 col-lg-9">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Agenda de Consultas (V1)</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <mat-calendar #calendar id="calendar" name="calendar"
                                    (monthSelected)="selectMonth($event)" [selected]="selectedDate"
                                    (selectedChange)="onSelect($event)">
                                </mat-calendar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>
                                        {{responsibles && responsibles.length > 0 ? 'Selecione um profissional' :
                                        'Não
                                        há
                                        profissional habilitado'}}
                                    </mat-label>
                                    <mat-select [formControl]="responsibleControl"
                                        (selectionChange)="selectResponsible($event.value)"
                                        [disabled]="!responsibles || responsibles.length === 0">
                                        <mat-option *ngIf="responsibles && responsibles.length > 0">
                                            Todos
                                        </mat-option>
                                        <mat-option *ngIf="!responsibles || responsibles.length === 0">
                                            Não há profissional cadastrado
                                        </mat-option>
                                        <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                                            {{responsible.professionalName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Filtrar por Situação</mat-label>
                                    <mat-select [formControl]="statusSelectControl"
                                        (selectionChange)="selectStatus($event.value)">
                                        <mat-option>Todos</mat-option>
                                        <mat-option value="WAITING_CONFIRMATION">Aguardando confirmação do paciente
                                        </mat-option>
                                        <mat-option value="CONFIRMED">Agendamentos confirmados</mat-option>
                                        <mat-option value="COMPLETED">Agendamentos concluídos</mat-option>
                                        <mat-option value="CANCELED">Agendamentos cancelados</mat-option>
                                        <mat-option value="MISSED">Agendamentos perdidos</mat-option>
                                        <mat-option value="RESCHEDULED">Agendamentos remarcados</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-raised-button type="button" (click)="openDialog(null, null)"
                                    matTooltip="Adiciona agendamento" class="btn btn-info btn-block"
                                    [disabled]="!responsibles || responsibles.length == 0"><span
                                        class="fa fa-plus"></span> Novo
                                    Agendamento</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-lg-9" style="min-width: 60%;">
                <div class="center">
                    <h3>{{ selectedDate | date:'dd/MM/yyyy' }}</h3>
                </div>
                <hr />
                <div *ngFor="let interval of availableScheduleTimes">
                    <h3>{{interval.id | date:'HH:mm'}} <button [disabled]="!responsibles || responsibles.length == 0"
                            (click)="openDialog(selectedDate, interval.id)"
                            matTooltip="Adiciona agendamento neste intervalo"
                            class="fa fa-plus btn btn-info schedule-button-plus"></button>
                    </h3>
                    <hr />
                    <span *ngIf="interval.times.length == 0">Nenhum agendamento para este intervalo de horário
                        encontrado</span>
                    <div *ngFor="let scheduleItem of interval.times" class="schedule-item link-card"
                        [ngClass]="{'canceled': scheduleItem.status === 'CANCELED', 'waiting' : scheduleItem.status === 'WAITING_CONFIRMATION', 'completed' : (scheduleItem.status === 'COMPLETED' || scheduleItem.status === 'CONFIRMED')}"
                        (click)="openDialogWithSchedule(scheduleItem.id)">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="description-prop">Código:</div> {{scheduleItem.id}}
                            </div>
                            <div class="col-md-6 col-lg-9">
                                <div class="description-prop">Paciente:</div> {{scheduleItem.patientName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="description-prop">Hora agendada:</div> {{scheduleItem.schedulingDateAndTime
                                | date:'HH:mm'}}
                            </div>
                            <div class="col-md-6 col-lg-9">
                                <div class="description-prop">Profissional:</div> {{scheduleItem.professionalName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="description-prop">Situação atual:</div> {{getStatusDesc(scheduleItem.status)
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="loading"></app-loading>