<div class="main-content">
    <div class="container-fluid">
        <div class="row stretch">
            <div class="item col-md-6 col-lg-9">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Agenda de Consultas</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)">
                                </mat-calendar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>
                                        {{responsibles && responsibles.length > 0 ? 'Selecione um profissional' :
                                        'Não
                                        há
                                        profissional habilitado'}}
                                    </mat-label>
                                    <mat-select [formControl]="responsibleControl"
                                        (selectionChange)="selectResponsible($event.value)"
                                        [disabled]="!responsibles || responsibles.length === 0">
                                        <mat-option *ngIf="responsibles && responsibles.length > 0">
                                            Filtrar por profissional
                                        </mat-option>
                                        <mat-option *ngIf="!responsibles || responsibles.length === 0">
                                            Não há profissional cadastrado
                                        </mat-option>
                                        <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
                                            {{responsible.fullName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Filtrar por confirmação</mat-label>
                                    <mat-select [formControl]="confirmationSelectControl">
                                        <mat-option>Ambos</mat-option>
                                        <mat-option [value]="true">Pacientes confirmados</mat-option>
                                        <mat-option [value]="false">Pacientes não confirmados</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Filtrar por Situação</mat-label>
                                    <mat-select [formControl]="attendedSelectControl">
                                        <mat-option>Ambos</mat-option>
                                        <mat-option [value]="true">Ativos</mat-option>
                                        <mat-option [value]="false">Cancelados</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-raised-button type="button" (click)="openDialog(null)"
                                    matTooltip="Adiciona paciente" class="btn btn-info btn-block"><span
                                        class="fa fa-plus"></span> Novo
                                    Agendamento</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-lg-9" style="min-width: 60%;">
                <div class="center">
                    <h3>{{ selectedDate | date:'dd/MM/yyyy' }}</h3>
                </div>
                <hr />
                <div *ngFor="let interval of availableScheduleTimes">
                    <h3>{{interval.id | date:'HH:mm'}} <button
                            class="fa fa-plus btn btn-info schedule-button-plus"></button>
                    </h3>
                    <hr />
                    <span *ngIf="interval.times.length == 0">Nenhum agendamento para este intervalo de horário
                        encontrado</span>
                    <div *ngFor="let scheduleItem of interval.times" class="schedule-item link-card"
                        [ngClass]="{'canceled': scheduleItem.isCanceled}">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="description-prop">Código:</div> {{scheduleItem.id}}
                            </div>
                            <div class="col-md-6 col-lg-9">
                                <div class="description-prop">Paciente:</div> {{scheduleItem.patient.fullName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="description-prop">Hora agendada:</div> {{scheduleItem.schedulingDateAndTime
                                | date:'HH:mm'}}
                            </div>
                            <div class="col-md-6 col-lg-9">
                                <div class="description-prop">Profissional:</div> {{scheduleItem.professional.fullName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="description-prop">Confirmado:</div> {{scheduleItem.isConfirmed ? 'SIM' :
                                'NÃO' }}
                            </div>
                            <div class="col-md-6 col-lg-9">
                                <div class="description-prop">Desmarcado:</div> {{scheduleItem.isCanceled ? 'SIM' :
                                'NÃO'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="loading"></app-loading>