<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Atendimentos</h4>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off">
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-form-field>
                                        <mat-label>Tipo Paciente</mat-label>
                                        <mat-select matNativeControl name="patientType"
                                            (selectionChange)="selectPatientType($event.value)"
                                            [(ngModel)]="filters.patientType" #patientType>
                                            <mat-option>Ambos</mat-option>
                                            <mat-option value="IDENTIFIED">Identificado</mat-option>
                                            <mat-option value="NOT_IDENTIFIED">Não identificado</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-label>Tipo Atendimento</mat-label>
                                        <mat-select matNativeControl name="entryType"
                                            (selectionChange)="selectAttendanceType($event.value)"
                                            [(ngModel)]="filters.entryType" #entryType>
                                            <mat-option>Ambos</mat-option>
                                            <mat-option value="CLINICAL">Ambulatório</mat-option>
                                            <mat-option value="EMERGENCY">Emergência</mat-option>
                                            <mat-option value="REMOTE">Remoto</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input type="text" placeholder="Setor" matInput [matAutocomplete]="auto"
                                            #sector>

                                        <mat-autocomplete #auto="matAutocomplete" infiniteScroll
                                            [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                                            (opened)="registerPanelScrollEvent()">

                                            <mat-option *ngFor="let sector of sectors" [value]="sector.description"
                                                (click)="selectSector(sector.id)">
                                                {{sector.description}}
                                            </mat-option>

                                            <mat-option *ngIf="loadingAutocomplete">
                                                <mat-spinner diameter="35" style="margin:0 auto;"></mat-spinner>
                                            </mat-option>

                                        </mat-autocomplete>

                                    </mat-form-field>

                                </div>
                                <div class="col-md-1">
                                    <mat-form-field>
                                        <mat-label>Situação dos atendimentos</mat-label>
                                        <mat-select matNativeControl name="activeType"
                                            (selectionChange)="selectActiveType($event.value)"
                                            [(ngModel)]="filters.activeType" #activeType>
                                            <mat-option value="ALL">Todos</mat-option>
                                            <mat-option value="ACTIVE">Ativos</mat-option>
                                            <mat-option value="NOT_ACTIVE">Encerrados</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome do paciente [ENTER]" name="fullName"
                                            [(ngModel)]="filters.fullName" #fullName type="text"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Social do paciente [ENTER]" name="socialName"
                                            [(ngModel)]="filters.socialName" #socialName type="text"
                                            (keypress)="enterKeyPress($event)" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="CPF do paciente [ENTER]" name="cpf"
                                            [(ngModel)]="filters.cpf" #cpf type="text"
                                            (keypress)="enterKeyPress($event)" mask="000.000.000-00" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="button" (click)="applyFilter(null)"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-danger pull-right"
                                matTooltip="Aplica Filtro">
                                <span class="fa fa-search"></span> Filtrar</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Lista de atendimentos</h4>
                    </div>
                    <div class="card-body">
                        <mat-table [dataSource]="dataSource">
                            <ng-container class="col-md-1" matColumnDef="id">
                                <mat-header-cell class="col-md-1" *matHeaderCellDef> Cod. Atend. </mat-header-cell>
                                <mat-cell class="col-md-1" *matCellDef="let element">
                                    <span class="mobile-label">Cod. Atend.:</span>
                                    {{element.id}}
                                </mat-cell>
                            </ng-container>

                            <ng-container class="col-md-1" matColumnDef="patientId">
                                <mat-header-cell class="col-md-1" *matHeaderCellDef> Matrícula </mat-header-cell>
                                <mat-cell class="col-md-1" *matCellDef="let element">
                                    <span class="mobile-label">Matrícula:</span>
                                    {{element.patientId}}
                                </mat-cell>
                            </ng-container>

                            <ng-container class="col-md-4" matColumnDef="fullName">
                                <mat-header-cell class="col-md-4" *matHeaderCellDef> Paciente </mat-header-cell>
                                <mat-cell class="col-md-4" *matCellDef="let element">
                                    <span class="mobile-label">Paciente:</span>
                                    {{element.fullName}}
                                </mat-cell>
                            </ng-container>

                            <ng-container class="col-md-2" matColumnDef="entryDatetime">
                                <mat-header-cell class="col-md-2" *matHeaderCellDef> Entrada </mat-header-cell>
                                <mat-cell class="col-md-2" *matCellDef="let element">
                                    <span class="mobile-label">Entrada:</span>
                                    {{element.entryDatetime |
                                    date:"dd/MM/yyyy - HH:mm"}}
                                </mat-cell>
                            </ng-container>


                            <ng-container class="col-md-2" matColumnDef="exitDatetime">
                                <mat-header-cell class="col-md-2" *matHeaderCellDef> Saĩda </mat-header-cell>
                                <mat-cell class="col-md-2" *matCellDef="let element">
                                    <span class="mobile-label">Saída:</span>
                                    {{element.exitDatetime |
                                    date:"dd/MM/yyyy - HH:mm"}}
                                    {{!element.exitDatetime ? '--':''}}
                                </mat-cell>
                            </ng-container>

                            <ng-container class="col-md-1" matColumnDef="attendanceTime">
                                <mat-header-cell class="col-md-1" *matHeaderCellDef>Tempo </mat-header-cell>
                                <mat-cell class="col-md-1" *matCellDef="let element">
                                    <span class="mobile-label">Tempo:</span>
                                    {{ getTime(element.entryDatetime, element.exitDatetime) }}
                                </mat-cell>
                            </ng-container>

                            <ng-container class="col-md-1" matColumnDef="actions">
                                <mat-header-cell class="col-md-1" *matHeaderCellDef> Ações
                                </mat-header-cell>
                                <mat-cell class="col-md-1" *matCellDef="let element">
                                    <button mat-raised-button type="button" class="btn-info"
                                        (click)="goToVisit(element.patientId)">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSize]="page.size" [length]="page.totalElements" [pageIndex]="page.number"
                            (page)="applyFilter($event)" aria-label="Selecione a configuração de página">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="loading"></app-loading>