<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Dados do profissional</h4>
        <p class="card-category">Dados completos do profissional</p>
    </div>
    <div class="card-body">
        <form [formGroup]="form" autocomplete="off" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Matrícula do Profissional" formControlName="id" [(ngModel)]="professional.id" #id disabled />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Registro Prof." formControlName="registerValue" [(ngModel)]="professional.professionalIdentity.registerValue" #registerValue />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tipo Reg. (CRM, COREN, etc...)" formControlName="registerType" [(ngModel)]="professional.professionalIdentity.registerType" #registerType />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cadastro de Pessoa Física (CPF)" formControlName="document" (blur)="searchProfessionalByCpf()" [(ngModel)]="professional.document.value" (keypress)="enterKeyPress($event)" #document type="text" maxlength="11" [disabled]="professional.id"
                            required />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome" formControlName="firstName" [(ngModel)]="professional.firstName" #firstName type="text" required />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Sobrenome" formControlName="lastName" [(ngModel)]="professional.lastName" #lastName type="text" required />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome completo da Mãe" formControlName="motherName" [(ngModel)]="professional.motherName" #motherName type="text" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome completo do Pai" formControlName="fatherName" [(ngModel)]="professional.fatherName" #fatherName type="text" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Telefone principal (Apenas números)" formControlName="principalNumber" [(ngModel)]="professional.principalNumber" #principalNumber type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Data de nascimento" formControlName="bornDate" [(ngModel)]="professional.bornDate" #bornDate type="date" required />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <select matNativeControl placeholder="Gênero" formControlName="gender" (change)="selectGender($event.target.value)" [(ngModel)]="professional.gender" #gender required>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Código Postal (CEP)" formControlName="cep" (blur)="searchAddressByCEP()" [(ngModel)]="professional.address.postalCode" size="8" maxlength="8" #cep type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Rua" formControlName="street" [(ngModel)]="professional.address.street" #street type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Número" formControlName="addressNumber" [(ngModel)]="professional.address.addressNumber" #addressNumber type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Complemento" formControlName="complement" [(ngModel)]="professional.address.complement" #complement type="text" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Bairro" formControlName="neighborhood" [(ngModel)]="professional.address.neighborhood" #neighborhood type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cidade" formControlName="city" [(ngModel)]="professional.address.city" #city type="text" />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <select matNativeControl placeholder="Estado" formControlName="state" (change)="selectState($event.target.value)" [(ngModel)]="professional.address.state" #state required>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h5 for="specializationTitle">Especializações</h5>
                </div>
                <mat-divider class="col-md-12"></mat-divider>
                <small class="col-md-12">Selecione as especializações do profissional</small>
                <br />

                <mat-checkbox hidden></mat-checkbox>
                <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let specialitity of specializationsData">
                    <div class="example-full-width">
                        <label class="mat-checkbox-layout" for="{{specialitity.id}}">
                            <div class="mat-checkbox-inner-container">
                                <input type="checkbox" class="mat-checkbox-input" name="specializations" checked="{{specialitity.checked}}" value="{{specialitity.name}}" id="{{specialitity.id}}">
                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple"></div>
                                </div>
                            </div>
                            <span class="mat-checkbox-label">{{specialitity.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <button *ngIf="professional.id" mat-raised-button type="button" (click)="resetForm()" class="btn btn-info pull-left">Novo profissional</button>
            <button mat-raised-button type="button" (click)="onCancelClick()" class="btn btn-danger pull-right">Fechar</button>
            <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-success pull-right">Salvar</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>