<div class="logo">
    <a href="/dashboard" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png" />
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item logoff-layout">
            <a class="nav-link logoff-button-text" (click)="logoff()">
                <i class="material-icons logoff-button">toggle_off</i>
                <p class="logoff-button">Sair</p>
            </a>
        </li>
    </ul>
</div>