.logoff-button {
    color: white !important;
    cursor: pointer;
}

.logoff-layout {
    background-color: #00bcd4 !important;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.logoff-button-text {
    padding-right: 0px !important;
    cursor: pointer;
}