@media all and (max-height: 719px) {

    .logoff-layout {
        bottom: 0;
        width: 260px;
    }

}

@media all and (min-height: 720px) {

    .logoff-layout {
        bottom: 0;
        position: fixed;
        width: 260px;
    }

}

.logoff-layout .btn {
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.logo {
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.logo-img {
    width: 100%;
    display: block;
    max-height: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo-img img {
    width: 100%;
    position: unset;
    top: 0px;
}