<div class="main-content">
    <img class="displayed-log" alt="NLGP Logo" src="{{'/assets/img/' + logoName + '.png'}}" width="20%" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <p class="card-category">Novos pacientes</p>
                        <h3 class="card-title">{{data.newPatients}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <p class="card-category">Atendidos</p>
                        <h3 class="card-title">{{data.medicalCareProvided}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">trending_down</i>
                        </div>
                        <p class="card-category">Cancelados</p>
                        <h3 class="card-title">{{data.canceled}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <p class="card-category">Confirmados</p>
                        <h3 class="card-title">{{data.confirmed}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Hoje
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Agendamentos confirmados <small>(hoje)</small></h4>
                    </div>
                    <div class="card-body">
                        <div *ngIf="data.appointments.length == 0" class="next-appointment">
                            Nenhum agendamento confirmado para hoje
                        </div>
                        <div *ngFor="let appointment of data.appointments" class="next-appointment">
                            {{appointment.schedulingDateAndTime | date: 'dd/MM/yyyy, HH:mm'}} |
                            {{appointment.patientName}}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Estatísticas do profissional</h4>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="statistics-card col-md-4">
                                    <div class="statistics-card-title">
                                        Você possui
                                    </div>
                                    <div class="statistics-card-value">
                                        {{data.totalActiveAttendance}}
                                    </div>
                                    <div class="statistics-card-footer">atendimentos ativos</div>
                                </div>

                                <div class="statistics-card col-md-4">
                                    <div class="statistics-card-title">
                                        Você já atendeu
                                    </div>
                                    <div class="statistics-card-value">
                                        {{data.totalAttendanceProvided}}
                                    </div>
                                    <div class="statistics-card-footer">pacientes hoje</div>
                                </div>

                                <div class="statistics-card col-md-4">
                                    <div class="statistics-card-title">
                                        Existem
                                    </div>
                                    <div class="statistics-card-value">
                                        {{data.totalUnconfirmedAppointment}}
                                    </div>
                                    <div class="statistics-card-footer">pacientes não confirmados</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Lembretes
                            <button matTooltip="Adicionar lembrete" (click)="openDialog(null)" mat-icon-button
                                class="add-sticker">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div *ngIf="data.stickers.length == 0" class="col-md-12 next-appointment">
                                    Nenhum lembrete encontrado
                                </div>
                                <div *ngFor="let sticker of data.stickers" class="col-md-6">
                                    <div class="postit">
                                        <div class="postit-header">
                                            <div class="postit-header-title">{{sticker.createdAt | date: 'dd/MM/yyyy'}}
                                            </div>
                                            <div class="postit-header-action" (click)="deleteSticker(sticker.id)"><i
                                                    class="fa fa-trash"></i></div>
                                        </div>
                                        <div class="postit-body" (click)="openDialog(sticker)">{{sticker.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading [show]="loading"></app-loading>