<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Novo usuário</h4>
        <p class="card-category">Cadastro de novo usuário</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="onChangePassword()">
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nome Completo" name="fullName"
                            [(ngModel)]="dataToForm.fullName" #newPassword="ngModel" required />
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Cadastro de Pessoa Física (CPF)  [ENTER]" name="document"
                            [(ngModel)]="dataToForm.document.value" #document type="text" maxlength="14"
                            mask="000.000.000-00" required />
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" [(ngModel)]="dataToForm.email" #email
                            type="email" required />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nome do usuário" name="username"
                            [(ngModel)]="dataToForm.username" #username="ngModel" required />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Senha" name="password"
                            [(ngModel)]="dataToForm.password" #username="ngModel" required />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button type="submit" [disabled]="!form.valid"
                    class="col-12 btn btn-success">Confirmar</button>
                <button mat-raised-button type="button" (click)="onCancelClick()" class="col-12 btn btn-danger"
                    matTooltip="Fecha formulário"><span class="fa fa-close"></span> Fechar</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>