<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Esqueci a senha</h4>
        <p class="card-category">Formulário de resgate de senha...</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="forgotPassword()">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <input matInput placeholder="Nome de usuário" name="userName" [(ngModel)]="dataToForm.userName"
                            #email type="text" />
                    </mat-form-field>
                </div>
            </div>
            OU
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" [(ngModel)]="dataToForm.email" #email
                            type="email" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button type="submit" [disabled]="!dataToForm.email && !dataToForm.userName"
                    class="col-12 btn btn-success">Confirmar</button>
                <button mat-raised-button type="button" (click)="onCancelClick()" class="col-12 btn btn-danger"
                    matTooltip="Fecha formulário"><span class="fa fa-close"></span> Fechar</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>