<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Dados da Acomodação</h4>
        <p class="card-category">Dados completos da Acomodação</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="Código da Acomodação" name="id" [(ngModel)]="dataForm.id" #id
                            disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Descrição" name="description" [(ngModel)]="dataForm.description"
                            #description required />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Tipo Acomodação</mat-label>
                        <mat-select matNativeControl name="type"
                            (selectionChange)="selectType($event.value)" [(ngModel)]="dataForm.type"
                            #type>                            
                            <mat-option value="BED">Leito</mat-option>
                            <mat-option value="ROOM">Sala (ambulatório)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <app-dialog-form-actions [showNew]="!!dataForm.id" newLabel="Nova Acomodação"
                newTooltip="Adicionar acomodação" [saveDisabled]="!form.valid" (new)="resetForm()"
                (cancel)="onCancelClick()"></app-dialog-form-actions>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<app-loading [show]="loading"></app-loading>