<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Dados da Acomodação</h4>
        <p class="card-category">Dados completos da Acomodação</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" autocomplete="off" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="Código da Acomodação" name="id" [(ngModel)]="dataForm.id" #id
                            disabled />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Descrição" name="description" [(ngModel)]="dataForm.description"
                            #description />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Tipo Acomodação</mat-label>
                        <mat-select matNativeControl name="type"
                            (selectionChange)="selectType($event.value)" [(ngModel)]="dataForm.type"
                            #type>                            
                            <mat-option value="BED">Leito</mat-option>
                            <mat-option value="ROOM">Sala (ambulatório)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div style="overflow:hidden; width: 100%;">
                    <div *ngIf="dataForm.id" class="col-12 col-sm-12 col-md-4 col-lg-3 pull-left ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-info col-12" (click)="resetForm()" matTooltip="Adiciona acomodação"><span
                            class="fa fa-plus"></span> Nova Acomodação</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="button" class="btn btn-danger col-12"
                            (click)="onCancelClick()" matTooltip="Fecha formulário"><span class="fa fa-close"></span> Fechar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 pull-right ml-0 mr-0">
                        <button mat-raised-button type="submit" class="btn btn-success col-12" matTooltip="Salvar informações do formulário"
                            [disabled]="!form.valid"><span class="fa fa-check"></span> Salvar</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>