<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Informações Institucionais</h4>
                <p class="card-category">Quem somos?</p>
            </div>
            <div class="card-body">
                <form #form="ngForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="CNPJ" name="cnpj" [(ngModel)]="institute.cnpj" #cnpj="ngModel" disabled
                                mask="00.000.000/0000-00" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="CNES" name="cnes" [(ngModel)]="institute.cnes" #cnes="ngModel" disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Nome" name="name" [(ngModel)]="institute.name" #name="ngModel" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Nome corporativo" name="corporativeName" [(ngModel)]="institute.corporativeName" #corporativeName="ngModel" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Natureza Legal" name="legalNature" [(ngModel)]="institute.legalNature" #legalNature="ngModel" disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Código Postal (CEP)" name="cep" [(ngModel)]="institute.postalCode" size="10" maxlength="10" #cep type="text" disabled 
                                mask="00.000-000"/>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Rua" name="street" [(ngModel)]="institute.street" #street type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Número" name="addressNumber" [(ngModel)]="institute.addressNumber" #addressNumber type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Complemento" name="complement" [(ngModel)]="institute.complement" #complement type="text" disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Bairro" name="neighborhood" [(ngModel)]="institute.neighborhood" #neighborhood type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Cidade" name="city" [(ngModel)]="institute.city" #city type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <select matNativeControl placeholder="Estado" name="state" [(ngModel)]="institute.state" #state disabled>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="EX">Estrangeiro</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>