.img-profile {
    height: 100%;
}

.card-avatar {
    border: solid #07b1c5;
    border-radius: 5px;
    height: 40%;
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.custom-row {
    margin-bottom: -250px;
}