<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Perfil</h4>
                    </div>
                    <div class="card-body">
                        <div class="row custom-row">
                            <div class="col-md-12">
                                <div class="card-avatar">
                                    <img class="img-profile"
                                        src="{{userInfo.profilePhoto ? userInfo.profilePhoto : './assets/img/upload.png'}}" />
                                </div>
                                <button mat-raised-button (click)="openWebCam()" matTooltip="Abrir câmera"
                                    class="btn btn-info btn-block"><span class="fa fa-camera"></span> Abrir
                                    câmera</button>
                                <button mat-raised-button type="button" (click)="openChangePasswordDialog()"
                                    class="btn btn-warning btn-block" matTooltip="Altera a senha atual"><span
                                        class="fa fa-lock"></span> Trocar
                                    senha</button>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dados pessoais</h4>
                        <p class="card-category">Meus dados completos</p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" autocomplete="off" (ngSubmit)="save()">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input matInput placeholder="Identificador do usuário" name="id"
                                            [(ngModel)]="userInfo.id" #id="ngModel" disabled />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Completo" name="fullName"
                                            [(ngModel)]="userInfo.fullName" #fullName="ngModel" type="text" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Social" name="socialName"
                                            [(ngModel)]="userInfo.socialName" #socialName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Completo da Mãe" name="motherName"
                                            [(ngModel)]="userInfo.motherName" #motherName="ngModel" type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Nome Completo do Pai" name="fatherName"
                                            [(ngModel)]="userInfo.fatherName" #fatherName type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Email" name="email" [(ngModel)]="userInfo.email"
                                            #email type="email" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Cadastro de Pessoa Física (CPF)" name="document"
                                            [(ngModel)]="userInfo.document.value" #document type="text"
                                            mask="000.000.000-00" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Data de nascimento" name="bornDate"
                                            [(ngModel)]="userInfo.bornDate" #bornDate type="datetime-local" required />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-label>Sexo</mat-label>
                                        <mat-select matNativeControl name="gender"
                                            (change)="selectGender($event.target.value)" [(ngModel)]="userInfo.gender"
                                            #gender required>
                                            <mat-option value="M">Masculino</mat-option>
                                            <mat-option value="F">Feminino</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Código Postal (CEP)" name="cep"
                                            (blur)="searchAddressByCEP()" [(ngModel)]="userInfo.address.postalCode"
                                            maxlength="10" #cep type="text" mask="00.000-000" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Rua" name="street"
                                            [(ngModel)]="userInfo.address.street" #street type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Número" name="addressNumber"
                                            [(ngModel)]="userInfo.address.addressNumber" #addressNumber type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Complemento" name="complement"
                                            [(ngModel)]="userInfo.address.complement" #complement type="text" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Bairro" name="neighborhood"
                                            [(ngModel)]="userInfo.address.neighborhood" #neighborhood type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="Cidade" name="city"
                                            [(ngModel)]="userInfo.address.city" #city type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Estado</mat-label>
                                        <mat-select matNativeControl name="state"
                                            (change)="selectState($event.target.value)"
                                            [(ngModel)]="userInfo.address.state" #state required>
                                            <mat-option value="AC">Acre</mat-option>
                                            <mat-option value="AL">Alagoas</mat-option>
                                            <mat-option value="AP">Amapá</mat-option>
                                            <mat-option value="AM">Amazonas</mat-option>
                                            <mat-option value="BA">Bahia</mat-option>
                                            <mat-option value="CE">Ceará</mat-option>
                                            <mat-option value="DF">Distrito Federal</mat-option>
                                            <mat-option value="ES">Espírito Santo</mat-option>
                                            <mat-option value="GO">Goiás</mat-option>
                                            <mat-option value="MA">Maranhão</mat-option>
                                            <mat-option value="MT">Mato Grosso</mat-option>
                                            <mat-option value="MS">Mato Grosso do Sul</mat-option>
                                            <mat-option value="MG">Minas Gerais</mat-option>
                                            <mat-option value="PA">Pará</mat-option>
                                            <mat-option value="PB">Paraíba</mat-option>
                                            <mat-option value="PR">Paraná</mat-option>
                                            <mat-option value="PE">Pernambuco</mat-option>
                                            <mat-option value="PI">Piauí</mat-option>
                                            <mat-option value="RJ">Rio de Janeiro</mat-option>
                                            <mat-option value="RN">Rio Grande do Norte</mat-option>
                                            <mat-option value="RS">Rio Grande do Sul</mat-option>
                                            <mat-option value="RO">Rondônia</mat-option>
                                            <mat-option value="RR">Roraima</mat-option>
                                            <mat-option value="SC">Santa Catarina</mat-option>
                                            <mat-option value="SP">São Paulo</mat-option>
                                            <mat-option value="SE">Sergipe</mat-option>
                                            <mat-option value="TO">Tocantins</mat-option>
                                            <mat-option value="EX">Estrangeiro</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Telefone principal (Apenas números)"
                                            name="principalNumber" [(ngModel)]="userInfo.principalNumber"
                                            #principalNumber type="text" mask="(00) 0000-00000" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Telefone secundário (Apenas números)"
                                            name="secondaryNumber" [(ngModel)]="userInfo.secondaryNumber"
                                            #secondaryNumber type="text" mask="(00) 0000-00000" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!form.valid"
                                matTooltip="Salvar informações do formulário"
                                class="col-12 col-sm-12 col-md-4 col-lg-3 btn btn-success pull-right"><span
                                    class="fa fa-check"></span> Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>