<div class="main-content">
    <div class="container-fluid">
        <div class="card card-profile" style="text-align: left;">
            <div class="card-avatar">
                <a href="javascript:void(0)">
                    <img class="img" (click)="logoInput.click()"
                        src="{{settings.customerInfo.logoBase64 ? settings.customerInfo.logoBase64 : './assets/img/upload.png'}}" />
                <input #logoInput hidden="true" type="file" onclick="this.value=null" (change)="saveLogo($event)" accept=".png" />
                </a>
            </div>
            <div class="card-header card-header-info">
                <h4 class="card-title">Informações</h4>
            </div>
            <div class="card-body">
                <form #form="ngForm" autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Nome App" name="appName" [(ngModel)]="settings.appName"
                                    #appName="ngModel" type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="Versão" name="version" [(ngModel)]="settings.version"
                                    #version="ngModel" type="text" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="CNPJ" name="cnpj"  mask="00.000.000/0000-00" [(ngModel)]="settings.customerInfo.cnpj" #cnpj />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput placeholder="CNES" name="cnes" [(ngModel)]="settings.customerInfo.cnes" #cnes />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Nome Completo" name="name" [(ngModel)]="settings.customerInfo.name" type="text" #name />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Nome corporativo" name="corporativeName" #corporativeName
                                    [(ngModel)]="settings.customerInfo.corporativeName" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Natureza Legal" name="legalNature" #legalNature
                                    [(ngModel)]="settings.customerInfo.legalNature"  />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Chave" name="key" #key
                                    [(ngModel)]="settings.customerInfo.license.key" disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Data de Início" name="startDate" type="datetime-local" #startDate
                                    [(ngModel)]="settings.customerInfo.license.startDate"
                                    disabled />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Data de Término" name="endDate" type="datetime-local" #endDate
                                    [(ngModel)]="settings.customerInfo.license.endDate" disabled />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Código Postal (CEP)" name="cep"
                                    (blur)="searchAddressByCEP()" [(ngModel)]="settings.customerInfo.address.postalCode"
                                    size="10" maxlength="10" #cep type="text" mask="00.000-000" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Rua" name="street"
                                    [(ngModel)]="settings.customerInfo.address.street" #street type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Número" name="addressNumber"
                                    [(ngModel)]="settings.customerInfo.address.addressNumber" #addressNumber
                                    type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>
                                <input matInput placeholder="Complemento" name="complement"
                                    [(ngModel)]="settings.customerInfo.address.complement" #complement type="text" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Bairro" name="neighborhood"
                                    [(ngModel)]="settings.customerInfo.address.neighborhood" #neighborhood
                                    type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput placeholder="Cidade" name="city"
                                    [(ngModel)]="settings.customerInfo.address.city" #city type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <select matNativeControl placeholder="Estado" name="state"
                                    [(ngModel)]="settings.customerInfo.address.state" #state>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                    <option value="EX">Estrangeiro</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Parâmetros</h4>
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)">
                </mat-form-field>

                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="group">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.group}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                        <mat-cell *matCellDef="let element">

                            <span *ngIf="element.metaType === 'STRING'">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="element.value" type="text"
                                    (keypress)="enterKeyPress($event, element.id, element.value)" />
                                </mat-form-field>
                            </span>

                            <span *ngIf="element.metaType === 'NUMBER'">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="element.value" type="number"
                                    (keypress)="enterKeyPress($event, element.id, element.value)" />
                                </mat-form-field>
                            </span>

                            <span *ngIf="element.metaType === 'BOOL'">
                                <mat-slide-toggle checked="{{element.value}}" (change)="changeToggleParameter($event, element.id)"></mat-slide-toggle>
                            </span>

                            <span *ngIf="element.metaType === 'PASSWORD'">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="element.value" type="password"
                                    (keypress)="enterKeyPress($event, element.id, element.value)" />
                                </mat-form-field>
                            </span>

                            <span *ngIf="element.metaType === 'GROUP'">
                                <mat-form-field>
                                    <mat-select [value]="element.value" (change)="changeSelectParameter(element.id, element.value)">
                                        <mat-option *ngFor="let option of element.groupValues" [value]="option">{{option}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>